<div class="row">
    <div class="user-heading round">
        <a href="#">
            <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt>
        </a>
        <h1>{{ customer.name }}</h1>
    </div>
    <ul class="nav nav-pills nav-stacked nav-stacked-kimi">
        <li><a th:href="@{/user/profile}">Thông tin cá nhân</a></li>
        <li><a th:href="@{/user/profile/pageaddress}">Địa chỉ của tôi</a></li>
        <!--<li role="presentation"><a href="#">Frequently Asked Questions</a></li>-->
    </ul>
</div>
