<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div data-th-insert="~{include/styleadmin.html}"></div>

    <title>Sucicakes</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="css/kimi.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

</head>

<body>

    <div data-th-insert="~{include/navbaradmin.html}"></div>

<div class="container kimi-container" style="">
    <ol class="breadcrumb hidden-xs">
        <li><a href="index.html">Home</a></li>
        <li>Channel Dashboard</li>
    </ol>
</div>

<div class="container bg-white-container weekly-summary top-gray-border hidden-xs">
    <div class="row">
        <div class="col-md-4">
            <h3 class="text-red">New Order<small class="pull-right" style="line-height: 34px;"><a href="#" class="text-secondary">Go to Order List</a></small></h3>
            <h4>Sigit Setiadji</h4>
            <p>5 Nasi Bakar Ayam Woku</p>
            <strong>Tomorrow 4 PM</strong>
            <address>
                Gedung Graha Mitra Lt 10 Jl Gatot Subroto Kav 22 Jakarta Selatan 12950
            </address>
            <button class="btn button-gray-3">See Details</button>
            <button class="btn button-red">Reject with reason</button>
        </div>
        <div class="col-md-4">
            <h3 class="text-red">This Week Sales</h3>
            <h2>Rp 40.000</h2>
            <p>1 Transaction</p>
        </div>
        <div class="col-md-4">
            <h3 class="text-red">Payment Method</h3>
            <p>Bank Transfer : Rp 40.000</p>
        </div>
    </div>
</div>

<div class="container bg-white-container weekly-summary top-gray-border hidden-xs">
    <div class="col-md-2 col-xs-6 less-padding">
        <strong>This Week Visitor</strong>
        <h2 class="text-secondary">150</h2>
        <p><i class="fa fa-arrow-up" aria-hidden="true"></i> <small>10% from last week</small></p>
    </div>

    <div class="col-md-2 col-xs-6 less-padding">
        <strong>Average Visit Time</strong>
        <h2 class="text-secondary">5 Mins</h2>
        <p><i class="fa fa-arrow-up" aria-hidden="true"></i> <small>20% from last week</small></p>
    </div>

    <div class="col-md-2 col-xs-6 less-padding">
        <strong>Total Sales</strong>
        <h2 class="text-secondary">2</h2>
        <p><i class="fa fa-arrow-down text-red" aria-hidden="true"></i> <small>10% from last week</small></p>
    </div>

    <div class="col-md-2 col-xs-6 less-padding">
        <strong>Omset</strong>
        <h2 class="text-secondary">Rp 40.000</h2>
        <p><i class="fa fa-arrow-down text-red" aria-hidden="true"></i> <small>20% from last week</small></p>
    </div>

    <div class="col-md-2 col-xs-6 less-padding">
        <strong>Canceled Transaction</strong>
        <h2 class="text-secondary">0</h2>
        <p><small>0% from last week</small></p>
    </div>

    <div class="col-md-2 col-xs-6 less-padding">
        <strong>Total Revenue</strong>
        <h2 class="text-secondary">Rp 40.000</h2>
        <p><small>0% from last week</small></p>
    </div>
</div>



<div class="container channel-cover">
    <img src="images/coverSucicakes.jpg" class="cover-image">
    <div class="hidden-xs channel-info">
        <h1 class="text-red">Sucicakes</h1>
        <img src="images/premium.png" class="pull-left">
        <h4 style="margin-left: 10px; float: left;">Premium Seller</h4>
        <div class="clearfix maya-small-padding"></div>
        <img src="images/halal35.png">
    </div>
</div>

<div class="container hidden-xs bg-white" style="padding-bottom: 20px;">
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-2 hidden-xs">
            <p class=""><img src="images/sucicakes_logo.png" width="100"></p>
        </div>

        <div class="col-md-3">
            <p>Page: <a href="#" class="text-secondary">backtokimi.com/sucicakes</a></p>
            <p>Coverage: Jabodetabek</p>
            <p>Location: Kebon Jeruk, Jakarta Barat</p>
        </div>
        <div class="col-md-4">
            <p>Last Logged in: Wed 23 Agustus 2017</p>
            <p>Join: April 2017</p>
            <p>Favourites: 290</p>
        </div>
        <div class="col-md-3">
            <!--<button class="button-gray-2 btn btn-block">Make Favourite</button>-->
            <!--<div class="clearfix" style="margin-bottom: 15px;"></div>-->
            <!--<a href="channelDashboard.html" class="button-gray-2 btn btn-block">Go to My Dashboard</a>-->
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <!--<img src="images/sucicakes_logo.png">-->
            <!--&lt;!&ndash;<a href="channelEdit.html" class="btn button-red">Edit</a>&ndash;&gt;-->
        </div>
        <div class="col-md-3">
            <strong>Saldo di Kimi</strong>
            <h3 class="text-secondary">Rp 200.000</h3>
            <!--<button class="btn button-red">Request Cairkan Dana</button>-->
        </div>
        <div class="col-md-3">
            <p>Page: <a href="channelDetail.html" class="text-secondary">backtokimi.com/sucicakes</a></p>
            <p>Email: <a class="text-secondary" href="mailto:suci.herlambang@gmail.com">suci.herlambang@gmail.com</a></p>
            <p>Phone: 082114666232</p>
        </div>
        <div class="col-md-4">
            <address>
                Address: Jl Madrasah 2 no 30 D RT 8 / RW 2
                Kelurahan Sukabumi Utara Kecamatan Kebon Jeruk
                Jakarta Barat 11540
            </address>
            <a href="channelEdit.html" class="btn button-red">Edit</a>
        </div>
    </div>
</div>

<div class="container visible-xs" style="padding-top: 15px; background: white; padding-bottom: 10px; border-bottom: 1px solid #E7EAEA;">
    <div class="row">
        <div class="col-xs-1" style="padding-left: 5px;">
            <img src="images/premium_badge.png" style="margin-top: 10px;">
        </div>
        <div class="col-xs-3 less-padding-left">
            <img src="images/sucicakes_logo.png" width="100%">
        </div>
        <div class="col-xs-8 less-padding-left">
            <p class="helvetica-18 text-bold less-margin less-padding" style="margin-top: 10px;">Sucicakes</p>
            <a href="editProfile.html" class="text-red helvetica-12 text-bold">Edit Profile</a>
        </div>
    </div>
</div>

<div class="container visible-xs" style="padding-top: 15px; background: white; padding-bottom: 10px; border-bottom: 1px solid #E7EAEA;">
    <div class="row">
        <div class="col-xs-4">
            <p class="text-bold helvetica-14 less-margin">Saldo</p>
            <span class="text-secondary text-bold">Rp 200.000</span>
        </div>
        <div class="col-xs-4">
            <p class="text-bold helvetica-14 less-margin">Pendapatan</p>
            <span class="text-secondary text-bold">Rp 40.000</span>
        </div>
        <div class="col-xs-2" style="margin-top: 10px;">
            <a href="#" class="btn button-gray-3">Details</a>
        </div>
    </div>
</div>

<div class="container visible-xs" style="padding-top: 15px; background: white; padding-bottom: 10px; border-bottom: 1px solid #E7EAEA;">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="text-red">New Order<small class="pull-right" style="line-height: 34px;"><a href="#" class="text-secondary">Go to Order List</a></small></h3>
            <h4>Sigit Setiadji</h4>
            <p>5 Nasi Bakar Ayam Woku</p>
            <strong>Tomorrow 4 PM</strong>
            <address>
                Gedung Graha Mitra Lt 10 Jl Gatot Subroto Kav 22 Jakarta Selatan 12950
            </address>
            <button class="btn button-gray-3">See Details</button>
            <button class="btn button-red">Reject with reason</button>
        </div>

    </div>
</div>


<div class="container" style="padding-bottom: 50px; padding-top: 20px;">

    <div class="row maya-well-padding hidden-xs" style="background: white;">
        <div class="col-md-9">
            <p class="helvetica-18">Sucicakes adalah home industry makanan dan kue baik modern maupun tradisional.  Didirikan oleh Aurelia Suci di tahun 2012, sekarang Sucicakes sudah melayani ratusan customer. Sucicakes sangat menjaga kualitas dan kebersihan bahan makanan.</p>
        </div>

        <div class="col-md-3">
            <a href="channelEdit.html" class="button-red btn pull-right">Edit Seller Description</a>
        </div>
    </div>

    <div class="row maya-well-padding">
        <div class="col-sm-6 col-md-4 hidden-xs">
            <a href="#" class="thumbnail less-padding default-userProductList-CardList-thumbnail" data-toggle="modal" data-target="#uploadProductDesktop">
                <img src="images/add_product.png" alt="">
            </a>
        </div>

        <!-- Modal Desktop -->
        <div class="modal fade" id="uploadProductDesktop" tabindex="-1" role="dialog" aria-labelledby="uploadProductDesktop">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add Product</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-3">

                                <label for="file-upload" class="custom-file-upload">
                                    <img src="images/add_photo_desktop.png" width="100%">
                                </label>
                                <input id="file-upload" type="file"/>
                            </div>
                            <div class="col-sm-3" style="position: relative;">
                                <img src="images/bolkus.png" width="100%">
                                <p class="text-base-image">Base image</p>
                            </div>
                            <div class="col-sm-3" style="position: relative;">
                                <img src="images/bolkus2.png" width="100%">
                                <div class="desktop-upload-photo-button-container">
                                    <button class="btn button-red pull-left"><i class="fa fa-times" aria-hidden="true"></i></button>
                                    <button class="btn button-green pull-right"><i class="fa fa-tag" aria-hidden="true"></i></button>
                                </div>
                            </div>
                            <div class="col-sm-3" style="position: relative;">
                                    <img src="images/bolkus3.png" width="100%">
                                    <div class="desktop-upload-photo-button-container">
                                        <button class="btn button-red pull-left"><i class="fa fa-times" aria-hidden="true"></i></button>
                                        <button class="btn button-green pull-right"><i class="fa fa-tag" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-gray-2 helvetica-13" style="margin: 10px 0">
                                    Base photo akan digunakan sebagai thumbnail dan photo utama. Checkout our <a href="#" class="text-secondary text-bold">recommended photo guidelines</a> and tips for product images look great on backtokimi.
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="modal-title" style="margin-bottom: 10px;">Product</h4>
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="" placeholder="Nama Produk">
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="number" class="form-control" id="" placeholder="Harga">
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="number" class="form-control" id="" placeholder="Berat (gram)">
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="number" class="form-control" id="" placeholder="Minimum Order">
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <textarea class="form-control" rows="3" placeholder="Deskripsi Produk"></textarea>
                                        </div>
                                    </div>

                                    <div class="clearfix" style="margin-bottom: 15px;"></div>


                                </form>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="modal-title" style="margin-bottom: 10px;">Ukuran Produk</h4>
                                <p class="text-gray-2 helvetica-13">Diperlukan untuk produk yang memiliki volume dalam pengiriman. Contoh kue tart</p>
                                <form>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="number" class="form-control" id="" placeholder="Panjang (cm)">
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="number" class="form-control" id="" placeholder="Lebar (cm)">
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="number" class="form-control" id="" placeholder="Tinggi (cm)">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clearfix" style="margin-bottom: 15px;"></div>

                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Produk memerlukan perlindungan khusus dalam pengiriman
                                        </label>
                                    </div>



                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn button-red" data-dismiss="modal" aria-label="Close">Cancel</button>
                        <button type="button" class="btn button-gray-3" data-dismiss="modal">Set as Draft</button>
                        <button type="button" class="btn button-gray-3">Preview</button>
                        <button type="button" class="btn button-green">Save and Publish</button>
                    </div>
                </div>
            </div>
        </div>


        <!--Modal Mobile-->
        <div class="modal fade" id="uploadProductMobile" tabindex="-1" role="dialog" aria-labelledby="uploadProductMobile">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="">Add Product</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row mobile-upload-interface">
                            <div class="col-xs-3">
                                <label for="file-upload" class="custom-file-upload">
                                    <img src="images/add_photo_mobile.png" width="100%">
                                </label>
                                <input id="file-upload-mobile" type="file"/>
                            </div>
                            <div class="col-xs-3" style="position: relative;">
                                <img src="images/bolkus.png" width="100%">

                            </div>
                            <div class="col-xs-3" style="position: relative;">
                                <img src="images/bolkus2.png" width="100%">

                            </div>
                            <div class="col-xs-3" style="position: relative;">
                                <img src="images/bolkus3.png" width="100%">
                            </div>

                            <div class="col-xs-6" style="margin-top: 20px;">
                                <button class="btn button-gray-2">Add Photo</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-gray-2 helvetica-13 text-center" style="margin: 10px 0">
                                    Base photo akan digunakan sebagai thumbnail dan photo utama. Checkout our <a href="#" class="text-secondary text-bold">recommended photo guidelines</a> and tips for product images look great on backtokimi.
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="modal-title" style="margin-bottom: 10px;">Product</h4>
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="" placeholder="Nama Produk">
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="number" class="form-control" id="" placeholder="Harga">
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="number" class="form-control" id="" placeholder="Berat (gram)">
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="number" class="form-control" id="" placeholder="Minimum Order">
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <textarea class="form-control" rows="3" placeholder="Deskripsi Produk"></textarea>
                                        </div>
                                    </div>

                                    <div class="clearfix" style="margin-bottom: 15px;"></div>


                                </form>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="modal-title" style="margin-bottom: 10px;">Ukuran Produk</h4>
                                <p class="text-gray-2 helvetica-13">Diperlukan untuk produk yang memiliki volume dalam pengiriman. Contoh kue tart</p>
                                <form>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="number" class="form-control" id="" placeholder="Panjang (cm)">
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="number" class="form-control" id="" placeholder="Lebar (cm)">
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="number" class="form-control" id="" placeholder="Tinggi (cm)">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clearfix" style="margin-bottom: 15px;"></div>

                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Produk memerlukan perlindungan khusus dalam pengiriman
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer footer-button-mobile-interface">
                        <div class="col-xs-3">
                            <button type="button" class="btn button-red btn-block" data-dismiss="modal" aria-label="Close">Cancel</button>
                        </div>
                        <div class="col-xs-3">
                            <button type="button" class="btn button-gray-3 btn-block" data-dismiss="modal">Draft</button>
                        </div>
                        <div class="col-xs-3">
                            <button type="button" class="btn button-gray-3 btn-block">Preview</button>
                        </div>
                        <div class="col-xs-3">
                            <button type="button" class="btn button-green btn-block">Publish</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-sm-6 visible-xs">
            <h3 class="text-red">My Products</h3>
            <p>Currently you have 5 products<a href="#" class="text-red pull-right">Urutkan</a></p>

            <button class="btn btn-block button-add-product" data-toggle="modal" data-target="#uploadProductMobile"><i class="fa fa-plus" aria-hidden="true"></i> Add Product</button>
            <div class="maya-small-padding"></div>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="productDetail.html" class="thumbnail less-padding default-userProductList-CardList-thumbnail">
                <img src="images/sosisSolo.jpg" alt="sosis solo">
                <div class="caption">
                    <h3>Sosis Solo Sucicakes</h3>
                    <div class="row">
                        <div class="col-sm-8 col-xs-6">
                            <p class="default-userProductList-CardList-price">Rp 4.500 / pcs</p>
                            <span class="min-order">10 pcs min order</span>
                        </div>

                        <div class="col-sm-4 col-xs-6">
                            <button onclick="location.href='shoppingCart.html;'" class="btn default-userProductList-CardList-button pull-right" role="button">Edit</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="productDetail.html" class="thumbnail less-padding default-userProductList-CardList-thumbnail">
                <img src="images/nasi_bakar_ayam_woku_2.jpg" alt="sosis solo">
                <div class="caption">
                    <h3>Nasi Bakar Ayam Woku</h3>
                    <div class="row">
                        <div class="col-sm-8 col-xs-6">
                            <p class="default-userProductList-CardList-price">Rp 23.000 / pcs</p>
                            <span class="min-order">5 pcs min order</span>
                        </div>

                        <div class="col-sm-4 col-xs-6">
                            <button class="btn default-userProductList-CardList-button pull-right" role="button">Edit</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="productDetail.html" class="thumbnail less-padding default-userProductList-CardList-thumbnail">
                <img src="images/sosisSolo.jpg" alt="sosis solo">
                <div class="caption">
                    <h3>Sosis Solo Sucicakes</h3>
                    <div class="row">
                        <div class="col-sm-8 col-xs-6">
                            <p class="default-userProductList-CardList-price">Rp 4.500 / pcs</p>
                            <span class="min-order">10 pcs min order</span>
                        </div>

                        <div class="col-sm-4 col-xs-6">
                            <button class="btn default-userProductList-CardList-button pull-right" role="button">Edit</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="productDetail.html" class="thumbnail less-padding default-userProductList-CardList-thumbnail">
                <img src="images/nasi_bakar_ayam_woku_2.jpg" alt="sosis solo">
                <div class="caption">
                    <h3>Nasi Bakar Ayam Woku</h3>
                    <div class="row">
                        <div class="col-sm-8 col-xs-6">
                            <p class="default-userProductList-CardList-price">Rp 23.000 / pcs</p>
                            <span class="min-order">5 pcs min order</span>
                        </div>

                        <div class="col-sm-4 col-xs-6">
                            <button class="btn default-userProductList-CardList-button pull-right" role="button">Edit</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<!--include footer-->
<div class="include-footer"></div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./js/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="./js/bootstrap.min.js"></script>

<!--kimi basic js-->
<script src="js/kimi.js"></script>

</body>
</html>