<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div data-th-insert="~{include/styleadmin.html}"></div>

    <title>Tables</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div data-th-insert="~{include/navbaradmin.html}"></div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Chỉnh sửa nhà kho</h4>
                        <div class="ms-auto text-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        Chỉnh sửa nhà kho
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="card-body">
                    <form action="/admin/updateWarehouse" method="post" id="editWarehouseForm" th:object="${warehouse}">
                        <div class="row">
                            <input type="hidden" class="form-control" id="warehouseID" name="warehouseID"
                                   aria-describedby="helpId" th:field="*{warehouseID}" th:value="${warehouseID}" >
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="warehousename" class="form-label">Tên Kho</label>
                                    <input type="text" class="form-control" id="warehousename" name="warehousename"
                                           aria-describedby="helpId" placeholder="Nhập tên kho" th:field="*{warehousename}" th:value="${warehousename}">
                                    <small class="text-danger" th:if="${#fields.hasErrors('warehousename')}" th:errors="*{warehousename}">Tên kho không hợp lệ.</small>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="location" class="form-label">Vị Trí</label>
                                    <input type="text" class="form-control" id="location" name="location" aria-describedby="helpId"
                                           placeholder="Nhập vị trí" th:field="*{location}" th:value="${location}">
                                    <small class="text-danger" th:if="${#fields.hasErrors('location')}" th:errors="*{location}">Vị trí không hợp lệ.</small>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="capacity" class="form-label">Dung Lượng</label>
                                    <input type="number" class="form-control" id="capacity" name="capacity"
                                           aria-describedby="helpId" placeholder="Nhập dung lượng" th:field="*{capacity}" th:value="${capacity}" required>
                                    <small class="text-danger" th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}">Dung lượng không hợp lệ.</small>
                                </div>
                            </div>
                            <!-- Các trường dữ liệu còn lại -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" onclick="window.location.href='/admin/warehouse'">Đóng</button>
                            <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                        </div>
                    </form>
                    
                </div>
            </div>
            
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                All Rights Reserved by admin. Designed and Developed by
                <a href="#">WrapPixel</a>.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <!-- <script>
    function confirmDelete(brandsId) {
      if (confirm("Bạn có chắc muốn xóa không?")) {
        window.location.href = '/admin/deleteBrands/' + brandsId;
      }
      return false;
    }
  </script> -->
<script>
// Đoạn mã JavaScript
function resetForm() {
    // Đặt lại biểu mẫu về trạng thái ban đầu
    document.getElementById("editWarehouseForm").reset();
    
    // Ẩn bất kỳ thông báo lỗi nào
    var errorMessages = document.querySelectorAll(".text-danger");
    errorMessages.forEach(function(element) {
        element.style.display = "none";
    });
}
</script>
  
    <script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script th:src="@{/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
    <script th:src="@{/assets/extra-libs/sparkline/sparkline.js}"></script>
    <!--Wave Effects -->
    <script th:src="@{/dist/js/waves.js}"></script>
    <!--Menu sidebar -->
    <script th:src="@{/dist/js/sidebarmenu.js}"></script>
    <!--Custom JavaScript -->
    <script th:src="@{/dist/js/custom.min.js}"></script>
    <!-- this page js -->
    <script th:src="@{/assets/extra-libs/multicheck/datatable-checkbox-init.js}"></script>
    <script th:src="@{/assets/extra-libs/multicheck/jquery.multicheck.js}"></script>
    <script th:src="@{/assets/extra-libs/DataTables/datatables.min.js}"></script>
    <script>
        /****************************************
         *       Basic Table                   *
         ****************************************/
        $("#zero_config").DataTable();
    </script>
</body>

</html>