<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div data-th-insert="~{include/styleadmin.html}"></div>

    <title>Sucicakes</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="css/kimi.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

</head>

<body>

    <div data-th-insert="~{include/navbaradmin.html}"></div>

<div class="container-fluid kimi-container">
    <ol class="breadcrumb hidden-xs">
        <li><a href="index.html">Home</a></li>
        <li><a href="channelDashboard.html">Channel Dashboard</a></li>
        <li>Channel Edit</li>
    </ol>
</div>

<div class="container-fluid" style="padding-bottom: 50px; padding-top: 20px;">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked nav-stacked-kimi">
                <li role="presentation" class="active"><a href="orderManagement.html">Overview</a></li>
                <li role="presentation"><a href="orderRequest.html">Order Request</a></li>
                <li role="presentation"><a href="pendingPayment.html">Pending Payment</a></li>
                <li role="presentation"><a href="pickupSchedule.html">Jadwal Pickup</a></li>
                <!--<li role="presentation"><a href="#">Frequently Asked Questions</a></li>-->
            </ul>

            <div style="background: #FCFCFC; border: 1px solid #E7EAEA; margin-top: 30px; padding: 15px;" class="hidden-xs">
                <h2>Sucicakes</h2>
                <h4>This week Sales:</h4>
                <h2>Rp 40.000</h2>
                <p>Anda belum berlangganan <a href="#" class="text-secondary">Premium Merchant</a> </p>
                <p>Berminat jadi Premium Merchant?
                    Coba gratis selama 1 bulan.
                    <a href="#" class="text-secondary"> Klik disini</a></p>
            </div>
        </div>

        <div class="col-md-6">

            <section class="edit-channel-form">
                <h2 class="title less-margin">Order Request</h2>
                <div style="margin: 0 auto; width: 150px;">
                    <img src="images/IG_5.svg" width="150">
                </div>
                <p class="text-roboto text-center">There is no Order Request Right Now.</p>
                <p class="text-roboto-light text-center">Promote Your Channel Now</p>
                <p class="text-center"><button class="btn button-green">Promote My Channel</button></p>
            </section>
            <div class="maya-small-padding"></div>

            <section class="edit-channel-form">
                <h2 class="title less-margin">Pending Payment</h2>
                <div style="margin: 25px auto; width: 150px;">
                    <img src="images/wallet.png" width="150">
                </div>
                <p class="text-roboto text-center">There is no Pending Payment Right Now.</p>
                <p class="text-roboto-light text-center">Semua payment yang bersifat pending akan terdaftar di sini.</p>
            </section>
            <div class="maya-small-padding"></div>

            <section class="edit-channel-form">
                <h2 class="title less-margin">Pickup Schedule</h2>
                <div style="margin: 25px auto; width: 150px;">
                    <img src="images/courier.png" width="150">
                </div>
                <p class="text-roboto text-center">There is no Paid Orders and Pick Up Orders Right Now</p>
                <p class="text-roboto-light text-center">Semua order yang sudah siap diambil oleh kurir kami akan terdaftar di sini.</p>
            </section>

        </div>



        <div class="col-md-3">
            <div class="box-promo">
                <h3>Penjualan Melesat dengan Premium Account</h3>
                <p>Premium Merchant menyediakan berbagai fitur istimewa untuk meningkatkan penjualan Anda.</p>
                <ul>
                    <li>Penjualan Meningkat</li>
                    <li>Prioritas Promosi</li>
                    <li>50% tambahan promosi di berbagai channel ads</li>
                    <li>Premium Support</li>
                </ul>
                <div class="maya-small-padding"></div>

                <button class="btn btn-block button button-outline">Join Premium Merchant</button>
            </div>
        </div>

    </div>
</div>

<!--include footer-->
<div class="include-footer"></div>


<script src="./js/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="./js/bootstrap.min.js"></script>

<!--kimi basic js-->
<script src="js/kimi.js"></script>

</body>
</html>