<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div data-th-insert="~{include/styleadmin.html}"></div>

    <title>Subscription</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="css/kimi.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

</head>

<body>

    <div data-th-insert="~{include/navbaradmin.html}"></div>

<div class="container-fluid kimi-container">
    <ol class="breadcrumb hidden-xs">
        <li><a href="index.html">Home</a></li>
        <li><a href="channelDashboard.html">Channel Dashboard</a></li>
        <li>Channel Edit</li>
    </ol>
</div>

<div class="container-fluid" style="padding-bottom: 50px; padding-top: 20px;">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked nav-stacked-kimi">
                <li role="presentation"><a href="channelEdit.html">Settings</a></li>
                <li role="presentation"><a href="changePassword.html">Change Password</a></li>
                <li role="presentation"><a href="resetPassword.html">Reset Password</a></li>
                <li role="presentation" class="active"><a href="plan.html">Subscription</a></li>
            </ul>

            <div style="background: #FCFCFC; border: 1px solid #E7EAEA; margin-top: 30px; padding: 15px;" class="hidden-xs">
                <h2>Sucicakes</h2>
                <h4>This week Sales:</h4>
                <h2>Rp 40.000</h2>
                <p>Anda belum berlangganan <a href="#" class="text-secondary">Premium Merchant</a> </p>
                <p>Berminat jadi Premium Merchant?
                    Coba gratis selama 1 bulan.
                    <a href="#" class="text-secondary"> Klik disini</a></p>
            </div>
        </div>

        <div class="col-md-6 edit-channel-form">
            <h2 class="title text-center">Sign up to be Premium Merchant</h2>
            <div class="clearfix maya-small-padding"></div>
            <div class="col-md-6 col-md-offset-3" style="background: #f5f5f5; padding: 20px;">
                <p class="helvetica-16 text-center">Join the Premium Merchant on Kimi. The place where the seller, buyer, chef, home food industry, come to enjoy the meals. Enjoy the benefits:</p>
                <ul>
                    <li>Badge Premium Seller</li>
                    <li>Full Statistik Business</li>
                    <li>Custom Business Name</li>
                    <li>50% tambahan promosi di berbagai channel ads</li>
                    <li>Premium Support</li>
                </ul>

                <h1 class="text-center text-bold" style="font-size: 50px; letter-spacing: -1px;">1.500.000</h1>
                <p class="text-center text-thin helvetica-16">Rupiahs / Yearly</p>
                <p class="text-center"><button class="btn btn-lg button-green-free">Join Premium Merchant</button></p>
            </div>


        </div>



        <div class="col-md-3">
            <div class="box-promo">
                <h3>Let’s become Kimi Premium Merchant</h3>
                <p>Premium Merchant menyediakan berbagai fitur istimewa untuk meningkatkan penjualan Anda.</p>
                <ul>
                    <li>Badge Premium Seller</li>
                    <li>Full Statistik Business</li>
                    <li>50% tambahan promosi di berbagai channel ads</li>
                    <li>Premium Support</li>
                </ul>
                <div class="maya-small-padding"></div>

                <button class="btn btn-block button button-outline">Join Premium Merchant</button>
            </div>
        </div>

    </div>
</div>

<!--include footer-->
<div class="include-footer"></div>


<script src="./js/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="./js/bootstrap.min.js"></script>

<!--kimi basic js-->
<script src="js/kimi.js"></script>

</body>
</html>