<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div data-th-insert="~{include/styleadmin.html}"></div>

    <title>Tables</title>
    <style>
    .table td,
        .table th {
            white-space: nowrap; /* Ngăn các ô bảng bị xuống dòng */
            overflow: hidden; /* Ẩn nội dung bị tràn ra khỏi ô */
            text-overflow: ellipsis; /* Hiển thị dấu chấm (...) khi nội dung bị tràn */
        }    
    </style>
    <!-- //lưu hiện thông báo -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script th:if="${not #strings.isEmpty(successMessage)}"> // thông báo lưu thành công
        var successMessage = 'Lưu thương hiệu thành công';
        Swal.fire({
            icon: 'success',
            title: 'Thành  công!',
            text: successMessage,
            showConfirmButton: false,
            timer: 1500,
        });
    </script>
    <!-- //xóa hiện thông báo -->
    <script>
        function confirmDelete(categoryid) {
            Swal.fire({
                title: 'Bạn có chắc muốn xóa không?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Có',
                cancelButtonText: 'Không',
            }).then((result) => {
                if (result.isConfirmed) {
                    // Nếu người dùng đồng ý xóa, thực hiện chuyển đường dẫn
                    window.location.href = '/admin/deleteProduct/' + categoryid;
                }
            });

            // Trả về false để ngăn chặn hành động mặc định của liên kết
            return false;
        }
    </script>
    <script th:if="${not #strings.isEmpty(deletesuccessMessage)}"> // thông báo lưu thành công
        var successMessage = 'Xóa thương hiệu thành công';
        Swal.fire({
            icon: 'success',
            title: 'Thành  công!',
            text: successMessage,
            showConfirmButton: false,
            timer: 1500,
        });
    </script>
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div data-th-insert="~{include/navbaradmin.html}"></div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Sản Phẩm</h4><a class="btn btn-sm btn-info mx-3" href="/admin/products/form/0"> Thêm sản phẩm</a>
                        <div class="ms-auto text-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Trang Chủ</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        Sản Phẩm
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">


                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title fw-bold" >Danh Sách Sản Phẩm</h5>
                            <div class="table-responsive">

                                <table id="zero_config" class="table table-striped">
                                    <thead>
                                        <tr class="text-center">
                                            <th class="fw-bold">ID</th>
                                            <th class="fw-bold">Tên sản phẩm</th>
                                            <th class="fw-bold">Mô tả</th>
                                            <th class="fw-bold">Giá nhập</th>
                                            <th class="fw-bold">Giá bán</th>
                                            <th class="fw-bold">Thương hiệu</th>
                                            <th class="fw-bold">Danh mục</th>
                                            <th class="fw-bold">Trạng thái</th>
                                            <th class="fw-bold">Tồn kho</th>
                                            <th class="fw-bold">Ngày tạo</th>
                                            <th class="fw-bold">Người tạo</th>
                                            <th class="fw-bold">Lượt xem</th>
                                            <th>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center">

                                        <tr th:each="product : ${products}">
                                            <td th:text="${product.productid}"></td>
                                            <td th:text="${product.productname}"></td>
                                            <td th:if="${product.description != null and #strings.length(product.description) >= 10}"
                                                th:text="${#strings.substring(product.description,0 ,10)} + '...'"></td>
                                            <td th:if="${product.description != null and #strings.length(product.description) < 10}"
                                                th:text="${product.description}"></td>
                                            <td th:if="${product.description == null}">#</td>
                                            <!-- <td th:if="${#strings.length(product.description) <= 10}" th:text="${product.description}"></td> -->
                                            <td
                                                th:text="${#numbers.formatDecimal(product.pricenhap, 0, 'COMMA', 0, 'POINT')}">
                                            </td>
                                            <td
                                                th:text="${#numbers.formatDecimal(product.pricexuat, 0, 'COMMA', 0, 'POINT')}">
                                            </td>
                                            <td th:text="${product.brand.brandname}"></td>
                                            <td th:text="${product.category.productname}"></td>
                                            <td th:if="${product.productactivate}" ><small style="border-radius: 5px;" class=" bg-success text-cente text-white p-1">Đang hoạt động</small></td>
                                            <td th:if="${!product.productactivate}" ><small style="border-radius: 5px;" class=" bg-danger text-center text-white p-1">Ngưng bán</small></td>
                                         
                                            <td>0</td>
                                            <td>
                                               <small th:text="${#temporals.format(product.createddate, 'dd-MM-yyyy HH:mm:ss')}"></small>
                                            </td>
                                            <td th:text="${product.createdby.name}"></td>
                                            <td th:text="${product.viewcount}"></td>
                                            <td><button type="button" class="btn btn-danger"
                                                    th:onclick="'return confirmDelete(\'' + ${product.productid} + '\')'">
                                                    <i class="bi bi-trash"
                                                        th:onclick="'return confirmDelete(\'' + ${product.productid} + '\')'"></i>

                                                </button>

                                                <a  class="btn btn-info"  
                                                th:href="@{/admin/products/form/{productId}(productId=${product.productid})}">
                                                    <i class="bi bi-pencil-square "></i></a>

                                            </td>

                                        </tr>

                                    </tbody>

                                </table>

                                <!-- Modal Form Thêm-->
                                <!-- <div class=" modal fade" id="modaladdproduct" data-bs-backdrop="static"
                                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-xl ">
                                        <div class="modal-content">
                                            <form th:object="${product}" method="post">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Thêm sản phẩm
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">

                                                    <div class="row">

                                                        <div class="mb-3">
                                                            <input th:field="${product.productid}" type="text"
                                                                hidden="true" class="form-control" name=""
                                                                id="productid" aria-describedby="helpId"
                                                                placeholder="" />
                                                        </div>

                                                        <div class="col-6">
                                                            <div class="mb-3">
                                                                <label for="" class="form-label">Tên sản phẩm</label>
                                                                <input th:field="${product.productname}" type="text"
                                                                    class="form-control" name="" id="productname"
                                                                    aria-describedby="helpId" placeholder="" />
                                                                <small id="helpId" class="form-text text-muted">Help
                                                                    text</small>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="mb-3">
                                                                <label for="" class="form-label">Mô tả</label>
                                                                <textarea th:field="${product.description}"
                                                                    class="form-control"
                                                                    id="productdescription"></textarea>
                                                                <small id="helpId" class="form-text text-muted">Help
                                                                    text</small>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="mb-3">
                                                                <label for="" class="form-label">Giá nhập</label>
                                                                <input type="number" th:field="${product.pricenhap}"
                                                                    class="form-control" name="" id="pricenhap"
                                                                    aria-describedby="helpId" placeholder="" />
                                                                <small id="helpId" class="form-text text-muted">Help
                                                                    text</small>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="mb-3">
                                                                <label for="" class="form-label">Giá bán</label>
                                                                <input type="number" th:field="${product.pricexuat}"
                                                                    class="form-control" name="" id="pricexuat"
                                                                    aria-describedby="helpId" placeholder="" />
                                                                <small id="helpId" class="form-text text-muted">Help
                                                                    text</small>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="mb-3">
                                                                <label for="" class="form-label">Thương hiệu</label>
                                                                <select class="form-select"
                                                                    th:field="${product.brand.brandsId}"
                                                                    id="productbrand">
                                                                    <option th:each="brandt : ${brands}"
                                                                        th:text="${brandt.brandname}"
                                                                        th:value="${brandt.brandsId}"></option>
                                                                </select>
                                                                <small id="helpId" class="form-text text-muted">Help
                                                                    text</small>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="mb-3">
                                                                <label for="" class="form-label">Danh mục</label>
                                                                <select class="form-select" id="productcategory"
                                                                    th:field="${product.category}">
                                                                    <option th:each="category : ${categorys}"
                                                                        th:value="${category.ID}"
                                                                        th:text="${category.productname}"></option>
                                                                </select>
                                                                <small id="helpId" class="form-text text-muted">Help
                                                                    text</small>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="mb-3">
                                                                <label for="" class="form-label">Trạng thái hoạt
                                                                    động</label>
                                                                <div class="form-check form-switch">
                                                                    <input class="form-check-input rounded-pill"
                                                                        th:field="${product.productactivate}"
                                                                        th:checked="${product.productactivate}"
                                                                        value="true" type="checkbox" role="switch"
                                                                        id="productactive">
                                                                </div>
                                                                <small id="helpId" class="form-text text-muted">Help
                                                                    text</small>
                                                            </div>
                                                        </div>

                                                        <div class="col-6">
                                                            <div class="mb-3">
                                                                <label for="" class="form-label">Tồn kho</label>
                                                                <input type="text" class="form-control" name="" id=""
                                                                    aria-describedby="helpId" placeholder="" />
                                                                <small id="helpId" class="form-text text-muted">Help
                                                                    text</small>
                                                            </div>
                                                        </div>

                                                        <div class="col-6">
                                                            <div class="mb-3">
                                                                <div class="row">
                                                                    <label for="" class="form-label">Hình ảnh</label>
                                                                    <div class="col-9">
                                                                        <input type="file" class="form-control" name=""
                                                                            id="" aria-describedby="helpId"
                                                                            placeholder="" />

                                                                        <small id="helpId"
                                                                            class="form-text text-muted">Help
                                                                            text</small>
                                                                    </div>
                                                                    <div class="col-3"> <button type="button"
                                                                            class="btn btn-primary"
                                                                            data-bs-toggle="modal"
                                                                            data-bs-target="#modalImage">Xem</button>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>

                                                        <div class="col-6">
                                                            <div class="mb-3">
                                                                <div class="row">
                                                                    <label for="" class="form-label">Hình ảnh</label>
                                                                    <div class="col-9">
                                                                        <input type="file" class="form-control" name=""
                                                                            id="" aria-describedby="helpId"
                                                                            placeholder="" />

                                                                        <small id="helpId"
                                                                            class="form-text text-muted">Help
                                                                            text</small>
                                                                    </div>
                                                                    <div class="col-3"> <button type="button"
                                                                            class="btn btn-primary"
                                                                            data-bs-toggle="modal"
                                                                            data-bs-target="#modalImage">Xem</button>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>

                                                        <div class="col-6">
                                                            <div class="mb-3">
                                                                <div class="row">
                                                                    <label for="" class="form-label">Hình ảnh</label>
                                                                    <div class="col-9">
                                                                        <input type="file" class="form-control" name=""
                                                                            id="" aria-describedby="helpId"
                                                                            placeholder="" />

                                                                        <small id="helpId"
                                                                            class="form-text text-muted">Help
                                                                            text</small>
                                                                    </div>
                                                                    <div class="col-3"> <button type="button"
                                                                            class="btn btn-primary"
                                                                            data-bs-toggle="modal"
                                                                            data-bs-target="#modalImage">Xem</button>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>

                                                        <div class="col-6">
                                                            <div class="mb-3">
                                                                <div class="row">
                                                                    <label for="" class="form-label">Hình ảnh</label>
                                                                    <div class="col-9">
                                                                        <input type="file" class="form-control" name=""
                                                                            id="" aria-describedby="helpId"
                                                                            placeholder="" />

                                                                        <small id="helpId"
                                                                            class="form-text text-muted">Help
                                                                            text</small>
                                                                    </div>
                                                                    <div class="col-3"> <button type="button"
                                                                            class="btn btn-primary"
                                                                            data-bs-toggle="modal"
                                                                            data-bs-target="#modalImage">Xem</button>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="mb-3">
                                                                <div class="row">
                                                                    <label for="" class="form-label">Hình ảnh</label>
                                                                    <div class="col-9">
                                                                        <input type="file" class="form-control" name=""
                                                                            id="" aria-describedby="helpId"
                                                                            placeholder="" />

                                                                        <small id="helpId"
                                                                            class="form-text text-muted">Help
                                                                            text</small>
                                                                    </div>
                                                                    <div class="col-3"> <button type="button"
                                                                            class="btn btn-primary"
                                                                            data-bs-toggle="modal"
                                                                            data-bs-target="#modalImage">Xem</button>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="mb-3">
                                                                <div class="row">
                                                                    <label for="" class="form-label">Hình ảnh</label>
                                                                    <div class="col-9">
                                                                        <input type="file" class="form-control" name=""
                                                                            id="" aria-describedby="helpId"
                                                                            placeholder="" />

                                                                        <small id="helpId"
                                                                            class="form-text text-muted">Help
                                                                            text</small>
                                                                    </div>
                                                                    <div class="col-3"> <button type="button"
                                                                            class="btn btn-primary"
                                                                            data-bs-toggle="modal"
                                                                            data-bs-target="#modalImage">Xem</button>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>



                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Đóng</button>
                                                    <button th:formaction="@{/admin/saveProduct}" id="buttonadd"
                                                        class="btn btn-primary">Thêm</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal Image-->
                               <!-- <div class="modal fade" id="modalImage" aria-hidden="true"
                                    aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Modal 2</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Hide this modal and show the first with the button below.
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-primary" data-bs-target="#exampleModalToggle"
                                                    data-bs-toggle="modal">Back to first</button>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer text-center">
            All Rights Reserved by Matrix-admin. Designed and Developed by
            <a href="https://www.wrappixel.com">WrapPixel</a>.
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->


    <script>
        const exampleModal = document.getElementById('modaladdproduct')
        if (exampleModal) {
            exampleModal.addEventListener('show.bs.modal', event => {

                // Update the modal's content.
                const modalButton = exampleModal.querySelector('#buttonadd')
                const modalTitle = exampleModal.querySelector('.modal-title')
                const modalBodyInputID = exampleModal.querySelector('#productid')
                const modalBodyInputName = exampleModal.querySelector('#productname')
                const modalBodyInputDescription = exampleModal.querySelector('#productdescription')
                const modalBodyInputPriceNhap = exampleModal.querySelector('#pricenhap')
                const modalBodyInputPriceXuat = exampleModal.querySelector('#pricexuat')
                const modalBodyInputBrand = exampleModal.querySelector('#productbrand')
                const modalBodyInputCategory = exampleModal.querySelector('#productcategory')
                const modalBodyInputActive = exampleModal.querySelector('#productactive')


                //   Button that triggered the modal
                const button = event.relatedTarget;
                // Extract info from data-bs-* attributes
                const recipient = button.getAttribute('data-bs-whatever')
                if (recipient === "null") {
                    modalBodyInputBrand.selectedIndex = 0;
                    modalBodyInputCategory.selectedIndex = 0;
                    return;
                }
                // const recipient = JSON.parse(button.dataset.bsWhatever);
                var mangPhanTu = recipient.split('{}');

                var ID = mangPhanTu[0];
                var Name = mangPhanTu[1];
                var Description = mangPhanTu[2];
                var PriceNhap = mangPhanTu[3];
                var PriceXuat = mangPhanTu[4];
                var Brand = mangPhanTu[5];
                var Category = mangPhanTu[6];
                var Active = mangPhanTu[7];

                for (var i = 0; i <= 7; i++) {
                    console.log(mangPhanTu[i]);
                }

                // If necessary, you could initiate an Ajax request here
                // and then do the updating in a callback.



                modalButton.innerHTML = "Cập nhật"
                modalTitle.textContent = `Cập nhật sản phẩm`
                modalBodyInputID.value = ID;
                modalBodyInputName.value = Name;
                modalBodyInputDescription.value = Description;
                modalBodyInputPriceNhap.value = PriceNhap;
                modalBodyInputPriceXuat.value = PriceXuat;
                modalBodyInputBrand.value = Brand;
                modalBodyInputCategory.value = Category;
                modalBodyInputActive.value = Active;



                if (Active === "true") {
                    modalBodyInputActive.checked = true;
                }
                else {
                    modalBodyInputActive.checked = false;
                }


            })

            exampleModal.addEventListener('hide.bs.modal', event => {
                // Xử lý khi modal đóng ở đây
                console.log('Modal đóng.');

                // Update the modal's content.
                const modalButton = exampleModal.querySelector('#buttonadd')
                const modalTitle = exampleModal.querySelector('.modal-title')
                const modalBodyInputID = exampleModal.querySelector('#productid')
                const modalBodyInputName = exampleModal.querySelector('#productname')
                const modalBodyInputDescription = exampleModal.querySelector('#productdescription')
                const modalBodyInputPriceNhap = exampleModal.querySelector('#pricenhap')
                const modalBodyInputPriceXuat = exampleModal.querySelector('#pricexuat')
                const modalBodyInputBrand = exampleModal.querySelector('#productbrand')
                const modalBodyInputCategory = exampleModal.querySelector('#productcategory')
                const modalBodyInputActive = exampleModal.querySelector('#productactive')

                modalButton.innerHTML = "Thêm"
                modalTitle.textContent = `Thêm sản phẩm`
                modalBodyInputID.value = "";
                modalBodyInputName.value = ""
                modalBodyInputDescription.value = "";
                modalBodyInputPriceNhap.value = "";
                modalBodyInputPriceXuat.value = "";
                modalBodyInputBrand.value = "";
                modalBodyInputCategory.value = "";
                modalBodyInputActive.value = "false";


                modalBodyInputActive.checked = false;



            });
        }
    </script>


    <!-- <script th:inline="javascript">
        $(document).ready(function() {
            $('.edit-btn').click(function() {
                console.log("abc");
                var productId = $(this).data('id');
            var productName = $(this).data('name');
            var productDescription = $(this).data('description');
            var productPrice = $(this).data('price');
            
            $('#productid').val(productId);
            $('#productname').val(productName);
            $('#description').val(productDescription);
            $('#pricenhap').val(productPrice);
            });
        });
    </script> -->
    <!-- <script>
        function confirmDelete(brandsId) {
            if (confirm("Bạn có chắc muốn xóa không?")) {
                window.location.href = '/admin/deleteProduct/' + brandsId;
            }
            return false;
        }
    </script> -->
    <script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script th:src="@{/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
    <script th:src="@{/assets/extra-libs/sparkline/sparkline.js}"></script>
    <!--Wave Effects -->
    <script th:src="@{/dist/js/waves.js}"></script>
    <!--Menu sidebar -->
    <script th:src="@{/dist/js/sidebarmenu.js}"></script>
    <!--Custom JavaScript -->
    <script th:src="@{/dist/js/custom.min.js}"></script>
    <!-- this page js -->
    <script th:src="@{/assets/extra-libs/multicheck/datatable-checkbox-init.js}"></script>
    <script th:src="@{/assets/extra-libs/multicheck/jquery.multicheck.js}"></script>
    <script th:src="@{/assets/extra-libs/DataTables/datatables.min.js}"></script>
    <script>
        /****************************************
         *       Basic Table                   *
         ****************************************/
        $("#zero_config").DataTable();
    </script>
</body>

</html>