<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div data-th-insert="~{include/styleadmin.html}"></div>

    <title>Reset Password</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="css/kimi.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

</head>

<body>

    <div data-th-insert="~{include/navbaradmin.html}"></div>

<div class="container-fluid kimi-container">
    <ol class="breadcrumb hidden-xs">
        <li><a href="index.html">Home</a></li>
        <li><a href="channelDashboard.html">Channel Dashboard</a></li>
        <li>Channel Edit</li>
    </ol>
</div>

<div class="container-fluid" style="padding-bottom: 50px; padding-top: 20px;">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked nav-stacked-kimi">
                <li role="presentation"><a href="channelEdit.html">Settings</a></li>
                <li role="presentation"><a href="changePassword.html">Change Password</a></li>
                <li role="presentation" class="active"><a href="#">Reset Password</a></li>
                <li role="presentation"><a href="plan.html">Subscription</a></li>
                <!--<li role="presentation"><a href="questions.html">Frequently Asked Questions</a></li>-->
            </ul>

            <div style="background: #FCFCFC; border: 1px solid #E7EAEA; margin-top: 30px; padding: 15px;" class="hidden-xs">
                <h2>Sucicakes</h2>
                <h4>This week Sales:</h4>
                <h2>Rp 40.000</h2>
                <p>Anda belum berlangganan <a href="#" class="text-secondary">Premium Merchant</a> </p>
                <p>Berminat jadi Premium Merchant?
                    Coba gratis selama 1 bulan.
                    <a href="#" class="text-secondary"> Klik disini</a></p>
            </div>
        </div>

        <div class="col-md-6 edit-channel-form">

            <form class="form-inline">
                <p class="text-center text-bold">You are about reset your password. <br>If you wish to continue, fill the field below with your email address</p>
                <div class="row">
                    <div class="col-md-3 label-wrapper">
                        <label for="current_password">Email</label>
                    </div>
                    <div class="col-md-9">
                        <input type="email" class="form-control" id="current_password" placeholder="Email Address">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <button class="btn button-green-free btn-lg">Send</button>
                    </div>
                </div>
            </form>
        </div>



        <div class="col-md-3">
            <div class="box-promo">
                <h3>Let’s become Kimi Premium Merchant</h3>
                <p>Premium Merchant menyediakan berbagai fitur istimewa untuk meningkatkan penjualan Anda.</p>
                <ul>
                    <li>Badge Premium Seller</li>
                    <li>Full Statistik Business</li>
                    <li>50% tambahan promosi di berbagai channel ads</li>
                    <li>Premium Support</li>
                </ul>
                <div class="maya-small-padding"></div>

                <button class="btn btn-block button button-outline">Join Premium Merchant</button>
            </div>
        </div>

    </div>
</div>

<!--include footer-->
<div class="include-footer"></div>


<script src="./js/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="./js/bootstrap.min.js"></script>

<!--kimi basic js-->
<script src="js/kimi.js"></script>

</body>
</html>