<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<div data-th-insert="~{include/styleadmin.html}"></div>

	<title>Tables</title>
</head>

<body>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script> 
<!-- //HIển thị thông báo -->
<script th:if="${not #strings.isEmpty(successMessage)}"> // thông báo lưu thành công
    var successMessage = 'Chuyển đổi trạng thái thành công';
    Swal.fire({
        icon: 'success',
        title: 'Thành  công!',
        text: successMessage,
        showConfirmButton: false,
        timer: 1500,
    });
</script>
<!-- //xóa hiện thông báo -->
<script>
    function confirmDelete(accountId) {
        Swal.fire({
            title: 'Bạn có chắc muốn xóa không?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Có',
            cancelButtonText: 'Không',
        }).then((result) => {
            if (result.isConfirmed) {
                // Nếu người dùng đồng ý xóa, thực hiện chuyển đường dẫn
                window.location.href = '/admin/deleteTaiKhoan/' + accountId;
            }
        });

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	//HIển thị thông báo
	<script th:if="${not #strings.isEmpty(successMessage)}"> // thông báo lưu thành công
		var successMessage = 'Chuyển đổi trạng thái thành công';
		Swal.fire({
			icon: 'success',
			title: 'Thành  công!',
			text: successMessage,
			showConfirmButton: false,
			timer: 1500,
		});
	</script>
	<!-- //xóa hiện thông báo -->
	<script>
		function confirmDelete(accountId) {
			Swal.fire({
				title: 'Bạn có chắc muốn xóa không?',
				icon: 'question',
				showCancelButton: true,
				confirmButtonText: 'Có',
				cancelButtonText: 'Không',
			}).then((result) => {
				if (result.isConfirmed) {
					// Nếu người dùng đồng ý xóa, thực hiện chuyển đường dẫn
					window.location.href = '/admin/deleteTaiKhoan/' + accountId;
				}
			});


			// Trả về false để ngăn chặn hành động mặc định của liên kết
			return false;
		}
	</script>
	<script th:if="${not #strings.isEmpty(deletesuccessMessage)}"> // thông báo lưu thành công
		var successMessage = 'Xóa tài khoản thành công';
		Swal.fire({
			icon: 'success',
			title: 'Thành  công!',
			text: successMessage,
			showConfirmButton: false,
			timer: 1500,
		});
	</script>
	<!-- ============================================================== -->
	<!-- Preloader - style you can find in spinners.css -->
	<!-- ============================================================== -->
	<div class="preloader">
		<div class="lds-ripple">
			<div class="lds-pos"></div>
			<div class="lds-pos"></div>
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- Main wrapper - style you can find in pages.scss -->
	<!-- ============================================================== -->
	<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
		data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
		<!-- ============================================================== -->
		<!-- Topbar header - style you can find in pages.scss -->
		<!-- ============================================================== -->
		<div data-th-insert="~{include/navbaradmin.html}"></div>
		<!-- ============================================================== -->
		<!-- End Left Sidebar - style you can find in sidebar.scss  -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- Page wrapper  -->
		<!-- ============================================================== -->
		<div class="page-wrapper">
			<!-- ============================================================== -->
			<!-- Bread crumb and right sidebar toggle -->
			<!-- ============================================================== -->
			<div class="page-breadcrumb">
				<div class="row">
					<div class="col-12 d-flex no-block align-items-center">
						<h4 class="page-title">Tài Khoản</h4>
						<div class="ms-auto text-end">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="#">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">
										Library</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- End Bread crumb and right sidebar toggle -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- Container fluid  -->
			<!-- ============================================================== -->
			<div class="container-fluid">
				<!-- ============================================================== -->
				<!-- Start Page Content -->
				<!-- ============================================================== -->
				<div class="row">
					<div class="col-12">

						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Danh Sách Tài Khoản</h5>
								<div class="table-responsive">
									<table id="zero_config" class="table table-striped table-bordered">
										<thead>
											<tr>
												<th>ID</th>
												<th>Name</th>
												<th>Active</th>
												<th>Email</th>
												<th>Chức Năng</th>

											</tr>
										</thead>
										<tbody>

											<tr th:each="account : ${allAccount}">
												<td th:text="${account.accountId}"></td>
												<td th:text="${account.username}"></td>
												<td>
													<div class="col-auto">
														<form th:object="${account}" method="post"
															th:action="@{/admin/saveAccount/{accountId}(accountId=${account.accountId})}">
															<label class="visually-hidden" for="autoSizingSelect">Trạng
																thái</label> <select class="form-select"
																id="autoSizingSelect" name="active"
																onchange="updateStatus(this, ${account.accountId})">
																<option th:value="true" th:text="${'Hoạt Động'}"
																	th:selected="${account.active == true}"></option>
																<option th:value="false" th:text="${'Không Hoạt Động'}"
																	th:selected="${account.active == false}"></option>

															</select>


													</div>
												</td>

												<td th:text="${account.email}"></td>
												<td>
												<button type="submit" class="bi bi-floppy btn btn-info"></button>
													<a th:onclick="'return confirmDelete(\'' + *{account.accountId} + '\');'"
														href="#">
														<button class="btn btn-danger" type="submit"
															style="width:40px; max-width: 100%;  border-radius: 5px; ">
															<svg style="margin-left:-1px;"
																xmlns="http://www.w3.org/2000/svg" width="16"
																height="16" fill="currentColor" class="bi bi-trash"
																viewBox="0 0 16 16">
																<path
																	d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
																<path
																	d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
															</svg>
														</button>
													</a>

													
													<!-- </button> <a class="bi bi-floppy btn btn-info"
													th:href="@{/admin/saveAccount/{accountId}(accountId=${account.accountId})}"></a> -->
												</td>
												</form>
											</tr>


											</tr>

										</tbody>

									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- ============================================================== -->
				<!-- End PAge Content -->
				<!-- ============================================================== -->
				<!-- ============================================================== -->
				<!-- Right sidebar -->
				<!-- ============================================================== -->
				<!-- .right-sidebar -->
				<!-- ============================================================== -->
				<!-- End Right sidebar -->
				<!-- ============================================================== -->
			</div>
			<!-- ============================================================== -->
			<!-- End Container fluid  -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- footer -->
			<!-- ============================================================== -->
			<footer class="footer text-center">
				All Rights Reserved by Matrix-admin. Designed and Developed by <a
					href="https://www.wrappixel.com">WrapPixel</a>.
			</footer>
			<!-- ============================================================== -->
			<!-- End footer -->
			<!-- ============================================================== -->
		</div>
		<!-- ============================================================== -->
		<!-- End Page wrapper  -->
		<!-- ============================================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- All Jquery -->
	<!-- ============================================================== -->
	<!-- <script>
		function confirmDelete(accountId) {
			if (confirm("Bạn có chắc muốn xóa không?")) {
				window.location.href = '/admin/deleteTaiKhoan/' + accountId;
			}
			return false;
		}
	</script> -->

	<!-- chuyển trang thái	 -->
	<!-- 
	<script th:inline="javascript">
    /*<![CDATA[*/
    function changeOrderStatus(selectElement, accountId) {
        let previousValue = selectElement.getAttribute('data-previous-value');
    Swal.fire({
        title: 'Bạn có chắc chắn muốn đổi trạng thái?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'OK',
        cancelButtonText: 'Hủy'
    }).then((result) => {
        if (result.isConfirmed) {
            let newStatus = selectElement.value;

            // Sử dụng Ajax để gửi yêu cầu đổi trạng thái và xử lý kết quả
            $.ajax({
                type: "POST",
                url: "/admin/updateOrderStatus",
                data: {
                	accountId: accountId,
                    newStatus: newStatus
                },
                success: function (response) {
                    Swal.fire({
                title: 'Thành công!',
                text: response,
                icon: 'success',
                showConfirmButton: false, // Không hiển thị nút "OK"
                timer: 1500 // Hiển thị thông báo trong 1.5 giây
            });

            // Đợi 1.5 giây rồi mới reload trang
            setTimeout(function() {
                location.reload();
            }, 1500);
        },
                error: function (xhr, status, error) {
                    let errorMessage = xhr.responseText || 'Đã xảy ra lỗi';
                    Swal.fire('Lỗi!', errorMessage, 'error');
                }
            });
        } else {
            // Nếu hủy, đặt giá trị select option về giá trị gốc
            // selectElement.value = selectElement.getAttribute('data-previous-value');
            // selectElement.value = previousValue;
            location.reload();
        }
    });
}

    function updateOrderStatus(accountId, newStatus) {
        // Gửi yêu cầu AJAX để cập nhật trạng thái đơn hàng
        // Ở đây, bạn có thể sử dụng fetch hoặc các phương thức khác để thực hiện yêu cầu
        // Sau khi cập nhật thành công, hiển thị thông báo thành công
        reloadData();
        Swal.fire('Đổi trạng thái thành công!', '', 'success');
    }
    /*]]>*/
   
</script> -->



	<script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
	<!-- Bootstrap tether Core JavaScript -->
	<script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
	<!-- slimscrollbar scrollbar JavaScript -->
	<script th:src="@{/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
	<script th:src="@{/assets/extra-libs/sparkline/sparkline.js}"></script>
	<!--Wave Effects -->
	<script th:src="@{/dist/js/waves.js}"></script>
	<!--Menu sidebar -->
	<script th:src="@{/dist/js/sidebarmenu.js}"></script>
	<!--Custom JavaScript -->
	<script th:src="@{/dist/js/custom.min.js}"></script>
	<!-- this page js -->
	<script th:src="@{/assets/extra-libs/multicheck/datatable-checkbox-init.js}"></script>
	<script th:src="@{/assets/extra-libs/multicheck/jquery.multicheck.js}"></script>
	<script th:src="@{/assets/extra-libs/DataTables/datatables.min.js}"></script>
	<script>
		/****************************************
		 *       Basic Table                   *
		 ****************************************/
		$("#zero_config").DataTable();
	</script>
</body>

</html>