<footer class="mainFooter   mainFooter-toolbar  ">
    <div class="footer-newsletter">
        <div class="container-fluid">
            <div class="wrapbox-newsletter">

                <div class="newsletter-block newsletter-widthAuto">
                    <div class="newsletter-title">
                        <h3>Đăng ký nhận tin</h3>
                    </div>
                    <div class="newsletter-content newsletter-form">
                        <form accept-charset="UTF-8" action="/account/contact" class="contact-form"
                            method="post">
                            <input name="form_type" type="hidden" value="customer">
                            <input name="utf8" type="hidden" value="✓">
                            <div class="form-group input-group">
                                <input type="hidden" id="newsletter-tags" name="contact[tags]"
                                    value="Đăng kí nhận tin">
                                <input required="" type="email" name="contact[email]"
                                    class="form-control newsletter-input" id="newsletter-email"
                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                    placeholder="Nhập email của bạn" aria-label="Email Address">
                                <span class="input-group-btn"><button type="submit"
                                        class="button dark newsletter-btn">Đăng ký</button></span>
                            </div>
                            <div class="sitebox-recaptcha d-none">
                                This site is protected by reCAPTCHA and the Google
                                <a href="https://policies.google.com/privacy" target="_blank" rel="noreferrer"
                                    previewlistener="true">Privacy Policy</a>
                                and <a href="https://policies.google.com/terms" target="_blank" rel="noreferrer"
                                    previewlistener="true">Terms of Service</a> apply.
                            </div>

                            <input id="29077e4b27904a718e403e148e413d52" name="g-recaptcha-response"
                                type="hidden"><noscript
                                src="https://www.google.com/recaptcha/api.js?render=6LdD18MUAAAAAHqKl3Avv8W-tREL6LangePxQLM-"></noscript><noscript>grecaptcha.ready(function()
                                {grecaptcha.execute('6LdD18MUAAAAAHqKl3Avv8W-tREL6LangePxQLM-', {action:
                                'submit'}).then(function(token)
                                {document.getElementById('29077e4b27904a718e403e148e413d52').value =
                                token;});});</noscript>
                        </form>
                    </div>
                </div>

                <div class="newsletter-block newsletter-social d-none d-md-flex">
                    <div class="newsletter-title">
                        <h3>Kết nối với chúng tôi</h3>
                    </div>
                    <div class="newsletter-content">
                        <ul class="footerNav-social">
                            <li><a href="https://www.facebook.com/bayavietnam" target="_blank" rel="noopener"
                                    title="Facebook" aria-label="Facebook" previewlistener="true"><i
                                        class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCT21HABKIUjBF132nEezDaA"
                                    target="_blank" rel="noopener" title="Youtube" aria-label="Youtube"
                                    previewlistener="true"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-container">
        <div class="footer-expand-collapsed ">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-3 col-md-12 col-12 widget-footer">
                        <h4 class="title-footer">CÔNG TY CỔ PHẦN NỘI THẤT BAYA</h4>
                        <div class="content-footer block-collapse row">
                            <div class="col-lg-12 col-md-12 col-12">
                                <p>Thương hiệu nội thất và trang trí hàng đầu Việt Nam, góp phần xây dựng thêm
                                    nhiều tổ ấm mỗi ngày.</p>
                                <div class="address-footer">
                                    <ul>
                                        <li class="contact-1"><i class="fa fa-map-marker"
                                                aria-hidden="true"></i> Tầng 08, Tòa nhà Pearl Plaza, Số 561A
                                            Điện Biên Phủ, Phường 25, Quận Bình Thạnh, Thành phố Hồ Chí Minh
                                        </li>
                                        <li class="contact-2"><i class="fa fa-phone" aria-hidden="true"></i>
                                            1900 63 64 76</li>
                                        <li class="contact-4"><i class="fa fa-envelope" aria-hidden="true"></i>
                                            webshop@baya.vn</li>
                                    </ul>
                                </div>
                                <ul class="footerNav-social d-md-none">
                                    <li><a href="https://www.facebook.com/bayavietnam" target="_blank"
                                            rel="noopener" title="Facebook" aria-label="Facebook"
                                            previewlistener="true"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://www.youtube.com/channel/UCT21HABKIUjBF132nEezDaA"
                                            target="_blank" rel="noopener" title="Youtube" aria-label="Youtube"
                                            previewlistener="true"><i class="fa fa-youtube-play"></i></a></li>
                                </ul>

                                <div class="logo-footer">
                                    <a href="http://online.gov.vn/Home/WebDetails/97262" target="_blank"
                                        rel="noreferrer" previewlistener="true">
                                        <img class="lazyload"
                                            data-src="//theme.hstatic.net/200000796751/1001150659/14/footer_logobct_img.png?v=788"
                                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                                            alt="Bộ Công Thương">
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-12 col-12 widget-footer">
                        <h4 class="title-footer">Về BAYA</h4>
                        <div class="content-footer block-collapse">
                            <ul class="footerNav-link">

                                <li class="item">
                                    <a href="/pages/about-us" title="Giới thiệu" previewlistener="true">Giới
                                        thiệu</a>
                                </li>

                                <li class="item">
                                    <a href="/pages/lien-he" title="Liên hệ" previewlistener="true">Liên hệ</a>
                                </li>

                                <li class="item">
                                    <a href="/blogs/nguon-cam-hung" title="Blog" previewlistener="true">Blog</a>
                                </li>

                                <li class="item">
                                    <a href="/pages/he-thong-cua-hang" title="Hệ thống cửa hàng"
                                        previewlistener="true">Hệ thống cửa hàng</a>
                                </li>

                            </ul>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-12 col-12 widget-footer">
                        <h4 class="title-footer">Hỗ trợ khách hàng</h4>
                        <div class="content-footer block-collapse">
                            <ul class="footerNav-link">

                                <li class="item">
                                    <a href="/pages/dieu-khoan-dich-vu" title="Câu hỏi thường gặp"
                                        previewlistener="true">Câu hỏi thường gặp</a>
                                </li>

                                <li class="item">
                                    <a href="/pages/huong-dan-dat-hang" title="Hướng dẫn đặt hàng"
                                        previewlistener="true">Hướng dẫn đặt hàng</a>
                                </li>

                                <li class="item">
                                    <a href="/pages/mua-hang-tra-gop" title="Mua hàng trả góp"
                                        previewlistener="true">Mua hàng trả góp</a>
                                </li>

                            </ul>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-12 col-12 widget-footer">
                        <h4 class="title-footer">Chính sách</h4>
                        <div class="content-footer block-collapse">
                            <ul class="footerNav-link">

                                <li class="item">
                                    <a href="/pages/chinh-sach-bao-hanh" title="Chính sách bảo hành"
                                        previewlistener="true">Chính sách bảo hành</a>
                                </li>

                                <li class="item">
                                    <a href="/pages/chi-phi-van-chuyen" title="Chi phí vận chuyển"
                                        previewlistener="true">Chi phí vận chuyển</a>
                                </li>

                                <li class="item">
                                    <a href="/pages/chinh-sach-doi-tra" title="Chính sách đổi trả và hoàn tiền"
                                        previewlistener="true">Chính sách đổi trả và hoàn tiền</a>
                                </li>

                                <li class="item">
                                    <a href="/pages/chinh-sach-van-chuyen-va-giao-nhan"
                                        title="Chính sách vận chuyển và giao nhận" previewlistener="true">Chính
                                        sách vận chuyển và giao nhận</a>
                                </li>

                                <li class="item">
                                    <a href="/pages/chinh-sach-thanh-toan" title="Các hình thức thanh toán"
                                        previewlistener="true">Các hình thức thanh toán</a>
                                </li>

                                <li class="item">
                                    <a href="/pages/chinh-sach-bao-mat-thong-tin"
                                        title="Chính sách bảo mật thông tin" previewlistener="true">Chính sách
                                        bảo mật thông tin</a>
                                </li>

                                <li class="item">
                                    <a href="/pages/huong-dan-thanh-toan-vnpay-qr-tren-website"
                                        title="Hướng dẫn thanh toán VNPAY-QR trên website"
                                        previewlistener="true">Hướng dẫn thanh toán VNPAY-QR trên website</a>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="footer-copyright text-center">
                <div class="container">
                    <p>Copyright © 2024 <a href="https://baya.vn" previewlistener="true"> Baya</a>.
                        <a target="_blank" href="https://www.haravan.com" rel="noreferrer"
                            previewlistener="true">Powered by Haravan</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>