<header class="topbar" data-navbarbg="skin5">
  <nav class="navbar top-navbar navbar-expand-md navbar-dark">
    <div class="navbar-header" data-logobg="skin5">
      <!-- ============================================================== -->
      <!-- Logo -->
      <!-- ============================================================== -->
      <a class="navbar-brand" href="/admin/statusproduct">
        <!-- Logo icon -->
        <b class="logo-icon ps-2">
          <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
          <!-- Dark Logo icon -->
          <img th:src="@{/assets/images/logo-icon.png}" alt="homepage" class="light-logo" width="25" />
        </b>
        <!--End Logo icon -->
        <!-- Logo text -->
        <span class="logo-text ms-2">
          <!-- dark Logo text -->
          <img th:src="@{/assets/images/logo-text.png}" alt="homepage" class="light-logo" />
        </span>
        <!-- Logo icon -->
        <!-- <b class="logo-icon"> -->
        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
        <!-- Dark Logo icon -->
        <!-- <img src="../assets/images/logo-text.png" alt="homepage" class="light-logo" /> -->

        <!-- </b> -->
        <!--End Logo icon -->
      </a>
      <!-- ============================================================== -->
      <!-- End Logo -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Toggle which is visible on mobile only -->
      <!-- ============================================================== -->
      <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
          class="ti-menu ti-close"></i></a>
    </div>
    <!-- ============================================================== -->
    <!-- End Logo -->
    <!-- ============================================================== -->
    <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
      <!-- ============================================================== -->
      <!-- toggle and nav items -->
      <!-- ============================================================== -->
      <ul class="navbar-nav float-start me-auto">
        <li class="nav-item d-none d-lg-block">
          <a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)"
            data-sidebartype="mini-sidebar"><i class="bi bi-fullscreen"></i></a>
        </li>
        <!-- ============================================================== -->
        <!-- create new -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Search -->
        <!-- ============================================================== -->
        <li class="nav-item search-box">
          <a class="nav-link waves-effect waves-dark" href="javascript:void(0)"><i class="bi bi-search"></i></a>
          <form class="app-search position-absolute">
            <input type="text" class="form-control" placeholder="Search &amp; enter" />
            <a class="srh-btn"><i class="bi bi-x-octagon"></i></a>
          </form>
        </li>
      </ul>
      <!-- ============================================================== -->
      <!-- Right side toggle and nav items -->
      <!-- ============================================================== -->
      <ul class="navbar-nav float-end">
        <!-- ============================================================== -->
        <!-- Comment -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- End Comment -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Messages -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- End Messages -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- User profile and search -->
        <!-- ============================================================== -->
        <li class="nav-item dropdown">
          <a class="
                  nav-link
                  dropdown-toggle
                  text-muted
                  waves-effect waves-dark
                  pro-pic
                " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-lines-fill"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-person-gear"></i> Chỉnh sửa</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout"><i class="fa fa-power-off me-1 ms-1"></i> Logout</a>
            <div class="dropdown-divider"></div>
            <div class="ps-4 p-10">
              <a href="#" class="btn btn-sm btn-success btn-rounded text-white">Thông tin của tôi</a>
            </div>
          </ul>
        </li>
        <!-- ============================================================== -->
        <!-- User profile and search -->
        <!-- ============================================================== -->
      </ul>
    </div>
  </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" data-sidebarbg="skin5">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav" class="pt-4">
        <!-- hóa đơn -->
        <li class="sidebar-item">
          <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i
              class="bi bi-cash-stack"></i><span class="hide-menu">Đơn hàng</span></a>
          <ul aria-expanded="false" class="collapse first-level">
            <li class="sidebar-item">
              <a th:href="@{/admin/invoice}" class="sidebar-link"><i class="bi bi-receipt-cutoff"></i><span
                  class="hide-menu"> Danh sách đơn hàng </span></a>
            </li>

            <li class="sidebar-item">
              <a th:href="@{/admin/statusproduct}" class="sidebar-link"><i class="bi bi-currency-exchange"></i><span
                  class="hide-menu"> Tình trạng đơn hàng </span></a>
            </li>

          </ul>
        </li>
        <!-- tài khoản -->
        <li class="sidebar-item">
          <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i
              class="bi bi-pencil-square"></i><span class="hide-menu">Công Cụ</span></a>
          <ul aria-expanded="false" class="collapse first-level">
            <li class="sidebar-item">
              <a th:href="@{/admin/taikhoan}" class="sidebar-link"><i class="bi bi-person-circle"></i><span
                  class="hide-menu"> Trạng thái tài Khoản </span></a>
            </li>

            <li class="sidebar-item">
              <a th:href="@{/admin/phanquyentaikhoan}" class="sidebar-link"><i class="bi bi-person-rolodex"></i><span
                  class="hide-menu"> Phân quyền tài Khoản </span></a>
            </li>

          </ul>
        </li>
        <!-- quản lý -->
        <li class="sidebar-item">
          <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i
              class="bi bi-kanban-fill"></i></i><span class="hide-menu">Quản Lý</span></a>
          <ul aria-expanded="false" class="collapse first-level">
            <li class="sidebar-item">
              <a th:href="@{/admin/brand}" class="sidebar-link"><i class="bi bi-shop"></i><span
                  class="hide-menu">Thương Hiệu </span></a>

            </li>

            <li class="sidebar-item">
              <a th:href="@{/admin/categoryproduct}" class="sidebar-link"><i class="bi bi-list-task"></i><span
                  class="hide-menu">Danh mục</span></a>

            </li>

            <li class="sidebar-item">
              <a th:href="@{/admin/products}" class="sidebar-link"><i class="bi bi-cast"></i><span
                  class="hide-menu">Sản Phẩm</span></a>

            </li>
            <li class="sidebar-item">
              <a th:href="@{/admin/promotion}" class="sidebar-link"><i class="bi bi-currency-bitcoin"></i><span
                  class="hide-menu">Mã Khuyến Mãi</span></a>

            </li>
            <li class="sidebar-item">
              <a th:href="@{/admin/promotionsale}" class="sidebar-link"><i class="bi bi-person-arms-up"></i><span
                  class="hide-menu">Khuyến Mãi</span></a>

            </li>

            <li class="sidebar-item">
              <a th:href="@{/admin/promotion/flashsale}" class="sidebar-link"><i class="bi bi-basket2"></i><span
                  class="hide-menu">FlashSale</span></a>

            </li>
            <li class="sidebar-item">
              <a th:href="@{/admin/inventory}" class="sidebar-link"><i class="bi bi-house-door"></i><span
                  class="hide-menu">Kho Hàng</span></a>

            </li>
            <!-- <li class="sidebar-item">
              <a th:href="@{/admin/warehouse}" class="sidebar-link"><i class="bi bi-houses"></i><span
                  class="hide-menu">Nhà Kho</span></a>

            </li> -->
            <li class="sidebar-item">
              <a th:href="@{/admin/customer}" class="sidebar-link"><i class="bi bi-person-fill-exclamation"></i><span
                  class="hide-menu">Khách hàng</span></a>
            </li>

            <li class="sidebar-item">
              <a th:href="@{/admin/employee}" class="sidebar-link"><i class="bi bi-person-circle"></i><span
                      class="hide-menu"> Nhân viên </span></a>
            </li>

          </ul>
        </li>
        <!-- bot telegram -->
        <li class="sidebar-item">
          <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i
              class="bi bi-robot"></i><span class="hide-menu">BOT</span></a>
          <ul aria-expanded="false" class="collapse first-level">
            <li class="sidebar-item">
              <a th:href="@{/admin/bot}" class="sidebar-link"><i class="bi bi-telegram"></i><span
                  class="hide-menu">BOT TELEGRAM</span></a>
            </li>
          </ul>
        </li>
        <!-- thống kê -->
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{/admin/statistics}"
            aria-expanded="false"><i class="bi bi-clipboard-data-fill"></i><span class="hide-menu">Thống kê</span></a>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>