<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" ng-app="bannoithatonline">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!--+++++++++++++ CSS THEME ++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <link rel="stylesheet" href="/taiNguyenCuaDung/css/index.css">
    <link rel="stylesheet" href="/taiNguyenCuaDung/css/indexcolor.css">
    <link rel="stylesheet" href="/taiNguyenCuaDung/css/theme1.css">
    <link rel="stylesheet" href="/taiNguyenCuaDung/css/theme2.css">
    <link rel="stylesheet" href="/taiNguyenCuaDung/css/theme3.css">

    <!--+++++++++++++ JS THEME ++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <script type="text/javascript" src="taiNguyenCuaDung/js/jquery.min.js"></script>
    <script type="text/javascript" src="taiNguyenCuaDung/js/theme.js"></script>

    <!--+++++++++++++ LIBARY THEME ++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <meta http-equiv="origin-trial"
        content="Az520Inasey3TAyqLyojQa8MnmCALSEU29yQFW8dePZ7xQTvSt73pHazLFTK5f7SyLUJSo2uKLesEtEa9aUYcgMAAACPeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZS5jb206NDQzIiwiZmVhdHVyZSI6IkRpc2FibGVUaGlyZFBhcnR5U3RvcmFnZVBhcnRpdGlvbmluZyIsImV4cGlyeSI6MTcyNTQwNzk5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="revisit-after" content="1 day">
    <meta name="HandheldFriendly" content="true">

    <meta name="google-site-verification" content="mHatT3Z1rAVgHFQvMAiWWja2irFLxApxy0odN9PPts8">
    <title>
        Baya - Siêu thị nội thất &amp; trang trí Baya
    </title>
    <link rel="canonical" href="https://baya.vn/">
    <link rel="alternate" href="https://baya.vn/" hreflang="vi-vn">
    <meta name="keywords" content="Baya">

    <meta name="robots" content="index,follow,noodp">

    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="https://baya.vn">
    <link rel="dns-prefetch" href="//hstatic.net">
    <link rel="dns-prefetch" href="//theme.hstatic.net/">
    <link rel="dns-prefetch" href="//product.hstatic.net/">
    <link rel="dns-prefetch" href="//file.hstatic.net/">
    <link rel="dns-prefetch" href="//www.google-analytics.com/">
    <link rel="dns-prefetch" href="//www.googletagmanager.com/">
    <link rel="dns-prefetch" href="//www.google.com">
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//www.facebook.com">
    <link rel="dns-prefetch" href="//connect.facebook.net">
    <link rel="dns-prefetch" href="//static.ak.facebook.com">
    <link rel="dns-prefetch" href="//static.ak.fbcdn.net">
    <link rel="dns-prefetch" href="//s-static.ak.facebook.com">


    <link rel="preconnect" href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700&amp;display=swap"
        crossorigin="">
    <link rel="preload stylesheet" href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700&amp;display=swap"
        as="style">
    <link rel="preload" href="//theme.hstatic.net/200000796751/1001150659/14/fontawesome-webfont.woff?v=788" as="font"
        type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="//theme.hstatic.net/200000796751/1001150659/14/fontawesome-webfont.woff2?v=788" as="font"
        type="font/woff2" crossorigin="anonymous">

    <link rel="preload stylesheet" href="//theme.hstatic.net/200000796751/1001150659/14/style-themes.scss.css?v=788"
        as="style">

    <meta property="og:type" content="website">
    <meta property="og:title" name="description" content="">
    <meta property="og:image" content="http://theme.hstatic.net/200000796751/1001150659/14/share_fb_home.png?v=788">
    <meta property="og:image:secure_url"
        content="https://theme.hstatic.net/200000796751/1001150659/14/share_fb_home.png?v=788">
    <meta property="og:description" name="description" content="">
    <meta property="og:url" content="https://baya.vn/">
    <meta property="og:site_name" content="Baya">

    <!-- SEO META DESCRIPTION -->
    <meta name="description" content="Baya - Siêu thị nội thất &amp; trang trí Baya">
    <!-- END SEO META DESCRIPTION -->
    <style>
        .grecaptcha-badge {
            visibility: hidden;
        }
    </style>
</head>
<style>
    .subject {
        box-sizing: border-box;
        color: rgb(37, 42, 43);
        display: block;
        font-family: Quicksand, sans-serif;
        font-size: 16px;
        font-weight: 400;
        height: 46.4px;
        line-height: 23.2px;
        margin-block-end: 30px;
        margin-block-start: 0px;
        margin-bottom: 30px;
        margin-inline-end: 85px;
        margin-inline-start: 85px;
        margin-left: 85px;
        margin-right: 85px;
        margin-top: 0px;
        max-width: 520px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        text-align: center;
        text-size-adjust: 100%;
        width: 520px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
</style>

<body>

    <div data-th-insert="~{include/navbar.html}"></div>

    <main class="wrapperMain_content">
        <div class="layout-pageNot">
            <div class="container">
                <div class="content-pagenot text-center">
                    <h1><span>404</span>Không tìm thấy trang</h1>
                    <p class="subtext">Trang bạn đang tìm kiếm có thể đã bị xóa,
                        chuyển đi, thay đổi link hoặc chưa bao giờ tồn tại.</p>
                    <p class=""><a href="/index" class="button">TRỞ VỀ TRANG CHỦ</a></p>
                </div>
            </div>
        </div>
    </main>

    <script src="../js/user/account.js"></script>
    <script src="taiNguyenCuaThang/js/navbargiohang.js"></script>
    <!-- SCRIPT THEME -->
    <script type="text/javascript" src="taiNguyenCuaDung/js/scripts.js" defer=""></script>

    <!--+++++++++++++ LIBARY THEME ++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>