<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div data-th-insert="~{include/style.html}"></div>

    <title>Sucicakes</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="css/kimi.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

</head>

<body>

    <div data-th-insert="~{include/navbar.html}"></div>

<div class="container-fluid kimi-container">
    <ol class="breadcrumb hidden-xs">
        <li><a href="index.html">Home</a></li>
        <li><a href="channelDashboard.html">Channel Dashboard</a></li>
        <li>Channel Edit</li>
    </ol>
</div>

<div class="container-fluid" style="padding-bottom: 50px; padding-top: 20px;">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked nav-stacked-kimi">
                <li role="presentation"><a href="productManagement.html">All Products</a></li>
                <li role="presentation" class="active"><a href="activeProduct.html">Active Products</a></li>
                <li role="presentation"><a href="draftProduct.html">Draft Products</a></li>
                <li role="presentation"><a href="editProductCategories.html">Product Categories</a></li>
            </ul>

            <div style="background: #FCFCFC; border: 1px solid #E7EAEA; margin-top: 30px; padding: 15px;" class="hidden-xs">
                <h2>Sucicakes</h2>
                <h4>This week Sales:</h4>
                <h2>Rp 40.000</h2>
                <p>Anda belum berlangganan <a href="#" class="text-secondary">Premium Merchant</a> </p>
                <p>Berminat jadi Premium Merchant?
                    Coba gratis selama 1 bulan.
                    <a href="#" class="text-secondary"> Klik disini</a></p>
            </div>
        </div>

        <div class="col-md-9">

            <div class="row">
                <!-- Modal Desktop -->
                <div class="modal fade" id="uploadProductDesktop" tabindex="-1" role="dialog" aria-labelledby="uploadProductDesktop">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Add Product</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-3">

                                        <label for="file-upload" class="custom-file-upload">
                                            <img src="images/add_photo_desktop.png" width="100%">
                                        </label>
                                        <input id="file-upload" type="file"/>
                                    </div>
                                    <div class="col-sm-3" style="position: relative;">
                                        <img src="images/bolkus.png" width="100%">
                                        <p class="text-base-image">Base image</p>
                                    </div>
                                    <div class="col-sm-3" style="position: relative;">
                                        <img src="images/bolkus2.png" width="100%">
                                        <div class="desktop-upload-photo-button-container">
                                            <button class="btn button-red pull-left"><i class="fa fa-times" aria-hidden="true"></i></button>
                                            <button class="btn button-green pull-right"><i class="fa fa-tag" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" style="position: relative;">
                                        <img src="images/bolkus3.png" width="100%">
                                        <div class="desktop-upload-photo-button-container">
                                            <button class="btn button-red pull-left"><i class="fa fa-times" aria-hidden="true"></i></button>
                                            <button class="btn button-green pull-right"><i class="fa fa-tag" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="text-gray-2 helvetica-13" style="margin: 10px 0">
                                            Base photo akan digunakan sebagai thumbnail dan photo utama. Checkout our <a href="#" class="text-secondary text-bold">recommended photo guidelines</a> and tips for product images look great on backtokimi.
                                        </p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4 class="modal-title" style="margin-bottom: 10px;">Product</h4>
                                        <form>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="" placeholder="Nama Produk">
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <input type="number" class="form-control" id="" placeholder="Harga">
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <input type="number" class="form-control" id="" placeholder="Berat (gram)">
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <input type="number" class="form-control" id="" placeholder="Minimum Order">
                                                    </div>
                                                </div>

                                                <div class="col-sm-12">
                                                    <textarea class="form-control" rows="3" placeholder="Deskripsi Produk"></textarea>
                                                </div>
                                            </div>

                                            <div class="clearfix" style="margin-bottom: 15px;"></div>


                                        </form>
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4 class="modal-title" style="margin-bottom: 10px;">Ukuran Produk</h4>
                                        <p class="text-gray-2 helvetica-13">Diperlukan untuk produk yang memiliki volume dalam pengiriman. Contoh kue tart</p>
                                        <form>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <input type="number" class="form-control" id="" placeholder="Panjang (cm)">
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <input type="number" class="form-control" id="" placeholder="Lebar (cm)">
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <input type="number" class="form-control" id="" placeholder="Tinggi (cm)">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="clearfix" style="margin-bottom: 15px;"></div>

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Produk memerlukan perlindungan khusus dalam pengiriman
                                                </label>
                                            </div>



                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn button-red" data-dismiss="modal" aria-label="Close">Cancel</button>
                                <button type="button" class="btn button-gray-3" data-dismiss="modal">Set as Draft</button>
                                <button type="button" class="btn button-gray-3">Preview</button>
                                <button type="button" class="btn button-green">Save and Publish</button>
                            </div>
                        </div>
                    </div>
                </div>


                <!--Modal Mobile-->
                <div class="modal fade" id="uploadProductMobile" tabindex="-1" role="dialog" aria-labelledby="uploadProductMobile">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="">Add Product</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row mobile-upload-interface">
                                    <div class="col-xs-3">
                                        <label for="file-upload" class="custom-file-upload">
                                            <img src="images/add_photo_mobile.png" width="100%">
                                        </label>
                                        <input id="file-upload-mobile" type="file"/>
                                    </div>
                                    <div class="col-xs-3" style="position: relative;">
                                        <img src="images/bolkus.png" width="100%">

                                    </div>
                                    <div class="col-xs-3" style="position: relative;">
                                        <img src="images/bolkus2.png" width="100%">

                                    </div>
                                    <div class="col-xs-3" style="position: relative;">
                                        <img src="images/bolkus3.png" width="100%">
                                    </div>

                                    <div class="col-xs-6" style="margin-top: 20px;">
                                        <button class="btn button-gray-2">Add Photo</button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="text-gray-2 helvetica-13 text-center" style="margin: 10px 0">
                                            Base photo akan digunakan sebagai thumbnail dan photo utama. Checkout our <a href="#" class="text-secondary text-bold">recommended photo guidelines</a> and tips for product images look great on backtokimi.
                                        </p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4 class="modal-title" style="margin-bottom: 10px;">Product</h4>
                                        <form>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="" placeholder="Nama Produk">
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <input type="number" class="form-control" id="" placeholder="Harga">
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <input type="number" class="form-control" id="" placeholder="Berat (gram)">
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <input type="number" class="form-control" id="" placeholder="Minimum Order">
                                                    </div>
                                                </div>

                                                <div class="col-sm-12">
                                                    <textarea class="form-control" rows="3" placeholder="Deskripsi Produk"></textarea>
                                                </div>
                                            </div>

                                            <div class="clearfix" style="margin-bottom: 15px;"></div>


                                        </form>
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4 class="modal-title" style="margin-bottom: 10px;">Ukuran Produk</h4>
                                        <p class="text-gray-2 helvetica-13">Diperlukan untuk produk yang memiliki volume dalam pengiriman. Contoh kue tart</p>
                                        <form>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <input type="number" class="form-control" id="" placeholder="Panjang (cm)">
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <input type="number" class="form-control" id="" placeholder="Lebar (cm)">
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <input type="number" class="form-control" id="" placeholder="Tinggi (cm)">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="clearfix" style="margin-bottom: 15px;"></div>

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Produk memerlukan perlindungan khusus dalam pengiriman
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer footer-button-mobile-interface">
                                <div class="col-xs-3">
                                    <button type="button" class="btn button-red btn-block" data-dismiss="modal" aria-label="Close">Cancel</button>
                                </div>
                                <div class="col-xs-3">
                                    <button type="button" class="btn button-gray-3 btn-block" data-dismiss="modal">Draft</button>
                                </div>
                                <div class="col-xs-3">
                                    <button type="button" class="btn button-gray-3 btn-block">Preview</button>
                                </div>
                                <div class="col-xs-3">
                                    <button type="button" class="btn button-green btn-block">Publish</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <a href="productDetail.html" class="thumbnail_item thumbnail less-padding less-margin">
                        <img src="images/sosisSolo.jpg" alt="sosis solo">
                    </a>
                    <div class="caption box">
                        <h3>Sosis Solo Sucicakes</h3>
                        <div class="row">
                            <div class="col-sm-8 col-xs-6">
                                <p class="default-userProductList-CardList-price">Rp 4.500 / pcs</p>
                                <span class="min-order">10 pcs min order</span>
                            </div>

                            <div class="col-sm-4 col-xs-6">
                                <button class="btn default-userProductList-CardList-button pull-right hidden-xs"
                                        role="button"
                                        data-toggle="modal"
                                        data-target="#uploadProductDesktop"
                                >Edit
                                </button>

                                <button
                                        class="btn default-userProductList-CardList-button pull-right visible-xs"
                                        role="button"
                                        data-toggle="modal"
                                        data-target="#uploadProductMobile"
                                >Edit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6 col-md-4">
                    <a href="productDetail.html" class="thumbnail_item thumbnail less-padding less-margin">
                        <img src="images/nasi_bakar_ayam_woku_2.jpg" alt="nasi bakar ayam woku">
                    </a>
                    <div class="caption box">
                        <h3>Nasi Bakar Ayam Woku</h3>
                        <div class="row">
                            <div class="col-sm-8 col-xs-6">
                                <p class="default-userProductList-CardList-price">Rp 23.000 / pcs</p>
                                <span class="min-order">10 pcs min order</span>
                            </div>

                            <div class="col-sm-4 col-xs-6">
                                <button class="btn default-userProductList-CardList-button pull-right hidden-xs"
                                        role="button"
                                        data-toggle="modal"
                                        data-target="#uploadProductDesktop"
                                >Edit

                                </button>

                                <button
                                        class="btn default-userProductList-CardList-button pull-right visible-xs"
                                        role="button"
                                        data-toggle="modal"
                                        data-target="#uploadProductMobile"
                                >Edit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6 col-md-4">
                    <a href="productDetail.html" class="thumbnail_item thumbnail less-padding less-margin">
                        <img src="images/seafood_square.jpg" alt="Seafood">
                    </a>
                    <div class="caption box">
                        <h3>Seafood</h3>
                        <div class="row">
                            <div class="col-sm-8 col-xs-6">
                                <p class="default-userProductList-CardList-price">Rp 23.000 / pcs</p>
                                <span class="min-order">10 pcs min order</span>
                            </div>

                            <div class="col-sm-4 col-xs-6">
                                <button class="btn default-userProductList-CardList-button pull-right hidden-xs"
                                        role="button"
                                        data-toggle="modal"
                                        data-target="#uploadProductDesktop"
                                >Edit

                                </button>

                                <button
                                        class="btn default-userProductList-CardList-button pull-right visible-xs"
                                        role="button"
                                        data-toggle="modal"
                                        data-target="#uploadProductMobile"
                                >Edit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6 col-md-4">
                    <a href="productDetail.html" class="thumbnail_item thumbnail less-padding less-margin">
                        <img src="images/cake_square.jpg" alt="cake">
                    </a>
                    <div class="caption box">
                        <h3>Cake</h3>
                        <div class="row">
                            <div class="col-sm-8 col-xs-6">
                                <p class="default-userProductList-CardList-price">Rp 23.000 / pcs</p>
                                <span class="min-order">10 pcs min order</span>
                            </div>

                            <div class="col-sm-4 col-xs-6">
                                <button class="btn default-userProductList-CardList-button pull-right hidden-xs"
                                        role="button"
                                        data-toggle="modal"
                                        data-target="#uploadProductDesktop"
                                >Edit

                                </button>

                                <button
                                        class="btn default-userProductList-CardList-button pull-right visible-xs"
                                        role="button"
                                        data-toggle="modal"
                                        data-target="#uploadProductMobile"
                                >Edit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6 col-md-4">
                    <a href="productDetail.html" class="thumbnail_item thumbnail less-padding less-margin">
                        <img src="images/risotto_square.jpg" alt="risotto lemon">
                    </a>
                    <div class="caption box">
                        <h3>Lemon Risotto</h3>
                        <div class="row">
                            <div class="col-sm-8 col-xs-6">
                                <p class="default-userProductList-CardList-price">Rp 45.000 / pcs</p>
                                <span class="min-order">10 pcs min order</span>
                            </div>

                            <div class="col-sm-4 col-xs-6">
                                <button class="btn default-userProductList-CardList-button pull-right hidden-xs"
                                        role="button"
                                        data-toggle="modal"
                                        data-target="#uploadProductDesktop"
                                >Edit

                                </button>

                                <button
                                        class="btn default-userProductList-CardList-button pull-right visible-xs"
                                        role="button"
                                        data-toggle="modal"
                                        data-target="#uploadProductMobile"
                                >Edit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

        </div>





    </div>
</div>

<!--include footer-->
<div class="include-footer"></div>


<script src="./js/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="./js/bootstrap.min.js"></script>

<!--kimi basic js-->
<script src="js/kimi.js"></script>

</body>
</html>