
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div data-th-insert="~{include/style.html}"></div>

    <title>Articles</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="css/kimi.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- owl carousel -->
    <link rel="stylesheet" href="css/owl_carousel/owl.carousel.css">
    <link rel="stylesheet" href="css/owl_carousel/owl.theme.default.css">

</head>

<body>

    <div data-th-insert="~{include/navbar.html}"></div>

<div class="container">
    <div class="maya-tiny-padding"></div>
    <div class="kimi-container">
        <!--breadcrumb start-->
        <ol class="breadcrumb hidden-xs">
            <li><a href="index.html">Home</a></li>
            <li>Articles</li>
        </ol>

        <div class="row">
            <div class="col-sm-6 col-md-4">
                <a href="articleDetails.html" class="thumbnail_item thumbnail less-padding" style="margin-bottom: 0;">
                    <img src="images/article0.jpg" alt="article title">
                </a>
                <div class="caption box">
                    <h3>Lemon Seafood Risotto</h3>
                    <div class="row">
                        <div class="col-sm-8 col-xs-6">
                            <p>Kimi Editorial's Pick</p>
                            <span class="last-text">September 14, 2017</span>
                        </div>

                        <div class="col-sm-4 col-xs-6">
                            <a href="profile.html">
                                <img src="images/face1.jpg" width="40" class="pull-right img-circle">
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <a href="articleDetails.html" class="thumbnail_item thumbnail less-padding" style="margin-bottom: 0;">
                    <img src="images/article1.jpg" alt="article title">
                </a>
                <div class="caption box">
                    <h3>Lemon Seafood Risotto</h3>
                    <div class="row">
                        <div class="col-sm-8 col-xs-6">
                            <p>Kimi Editorial's Pick</p>
                            <span class="last-text">September 14, 2017</span>
                        </div>

                        <div class="col-sm-4 col-xs-6">
                            
                                <img src="images/face2.jpg" width="40" class="pull-right img-circle">
                            
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <a href="articleDetails.html" class="thumbnail_item thumbnail less-padding" style="margin-bottom: 0;">
                    <img src="images/article2.jpg" alt="article title">
                </a>
                <div class="caption box">
                    <h3>Lemon Seafood Risotto</h3>
                    <div class="row">
                        <div class="col-sm-8 col-xs-6">
                            <p>Kimi Editorial's Pick</p>
                            <span class="last-text">September 14, 2017</span>
                        </div>

                        <div class="col-sm-4 col-xs-6">
                            <a href="profile.html">
                                <img src="images/face3.jpg" width="40" class="pull-right img-circle">
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <a href="articleDetails.html" class="thumbnail_item thumbnail less-padding" style="margin-bottom: 0;">
                    <img src="images/article3.jpg" alt="article title">
                </a>
                <div class="caption box">
                    <h3>Lemon Seafood Risotto</h3>
                    <div class="row">
                        <div class="col-sm-8 col-xs-6">
                            <p>Kimi Editorial's Pick</p>
                            <span class="last-text">September 14, 2017</span>
                        </div>

                        <div class="col-sm-4 col-xs-6">
                            <a href="profile.html">
                                <img src="images/face4.jpg" width="40" class="pull-right img-circle">
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <a href="articleDetails.html" class="thumbnail_item thumbnail less-padding" style="margin-bottom: 0;">
                    <img src="images/article4.jpg" alt="article title">
                </a>
                <div class="caption box">
                    <h3>Lemon Seafood Risotto</h3>
                    <div class="row">
                        <div class="col-sm-8 col-xs-6">
                            <p>Kimi Editorial's Pick</p>
                            <span class="last-text">September 14, 2017</span>
                        </div>

                        <div class="col-sm-4 col-xs-6">
                            <a href="profile.html">
                                <img src="images/face3.jpg" width="40" class="pull-right img-circle">
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <a href="articleDetails.html" class="thumbnail_item thumbnail less-padding" style="margin-bottom: 0;">
                    <img src="images/article5.jpg" alt="article title">
                </a>
                <div class="caption box">
                    <h3>Lemon Seafood Risotto</h3>
                    <div class="row">
                        <div class="col-sm-8 col-xs-6">
                            <p>Kimi Editorial's Pick</p>
                            <span class="last-text">September 14, 2017</span>
                        </div>

                        <div class="col-sm-4 col-xs-6">
                            <a href="profile.html">
                                <img src="images/face1.jpg" width="40" class="pull-right img-circle">
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="product-detail-tag-container col-md-4 col-md-offset-4 visible-xs text-center">
                <button class="btn outline-white-button text-center">Load More</button>
            </div>

            <div class="col-md-12 hidden-xs text-center">
                <!--pagination-->
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="current"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>
                </nav>
                <!--pagination ends-->
            </div>
        </div>
    </div>

</div><!-- /.container -->

<!--include footer-->
<div class="include-footer"></div>


<script src="./js/jquery.min.js"></script>

<!-- owl carousel -->
<script src="js/owl_carousel/owl.carousel.js"></script>

<!--boostrap js-->
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="./js/bootstrap.min.js"></script>

<!--kimi basic js-->
<script src="js/kimi.js"></script>

<script>
    $(function(){
        $("#top_navigation").load("include/top_navigation.html");
    });
</script>

</body>
</html>
