
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    
    <div data-th-insert="~{include/style.html}"></div>

    <title>About Kimi</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="css/kimi.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">


    <![endif]-->
</head>

<body style="background-color: #fff;">

    <div data-th-insert="~{include/navbar.html}"></div>


<div class="container-fluid kimi-container less-padding">
    <img src="images/birds-eye-1500w.jpg" width="100%" class="hidden-xs">
    <img src="https://res.cloudinary.com/kimithemes/image/upload/c_thumb,h_250,q_auto:best,w_480/v1506321165/birds-eye-1500w_r4qf8b.jpg" width="100%" class="visible-xs">
</div>


<div class="container">

    <div class="">
        <!--breadcrumb start-->
        <ol class="breadcrumb hidden-xs">
            <li><a href="index.html">Home</a></li>
            <li class="active">About Kimi</li>
        </ol>

        <div class="clearfix"></div>


        <div class="row">
            <div class="col-md-10 col-md-offset-1" style="margin-bottom: 40px;">
                <h5 class="about-first-text text-center text-center" style="">Kimi adalah sebuah program teknologi yang mengkoneksikan usaha makanan & minuman rumahan Anda dengan masyarakat, serta membantu mengembangkannya.</h5>

                <div class="maya-well-padding"></div>
                <h5 class="about-first-text text-center">Why Kimi</h5>

                <p class="helvetica-18 text-gray-3 text-center text-thin">Anda berkreasi & berinovasi dengan menu Anda, kimi tangani transaksi dan pengiriman.</p>
                <p class="helvetica-18 text-gray-3 text-center text-thin">Kimi akan membuat Anda mudah bertransaksi, membantu promosikan tentang Anda dan produk-produk Anda, dan mengelola pengantaran pesanan. Kami akan terus menguji dan belajar bersama untuk meningkatkan volume penjualan, menjaga kelancaran operasional, dan membuat pelanggan Anda terkesan.
                </p>
                <div class="maya-well-padding"></div>

                <h5 class="about-first-text text-center">How Kimi Works</h5>
                <h4 class="text-bold text-center">Sign up Now</h4>
                <p class="helvetica-18 text-gray-3 text-thin text-center">
                    Sign Up sekarang di <a class="text-secondary" href="signup.html"> backtokimi.com</a>, (Hubungi kami untuk membuka Channel (toko). Lihat pada Contact Us). Lalu upload logo keren Anda, foto-foto produk Anda beserta harga, min. order, deskripsi produk, dan keterangan mengenai Channel Anda.
                    Channel (toko) Anda dapat dikelola oleh beberapa user (dengan email yang berbeda) jika Anda menunjuk seseorang untuk membantu Anda mengelola Channel, kami menyebutnya Multi Users 1 Channel.
                    Dan berlaku sebaliknya, jika Anda memiliki beberapa Channel bisa dikelola oleh Anda sendiri (1 user), kami menyebutnya 1 User Multi Channels.
                    (Hubungi kami, jika Anda berminat untuk membuat Multi Users 1 Channel ataupun 1 User Multi Channels.)
                </p>
                <div class="maya-small-padding"></div>

                <h4 class="text-bold text-center">Your Schedule is in Your Hand</h4>

                <p class="helvetica-18 text-gray-3 text-thin text-center">Program kimi dibuat untuk Chef rumahan seperti Anda. Buyer (Pembeli) memesan/request produk paling lambat 1 hari sebelum pesanan dibuat dan diantar (Pre Order).
                    Anda juga dapat mengaturnya sendiri sesuai kapasitas Anda untuk mempermudah Anda menyiapkan bahan-bahan, peralatan, bahkan tenaga kerja.
                </p>
                <div class="maya-small-padding"></div>

                <h4 class="text-bold text-center">Focus to Your Strengths</h4>
                <p class="helvetica-18 text-gray-3 text-thin text-center">
                    Karena kami percaya, waktu adalah hal yang berharga. Kami memberikan kemudahan bagi Anda mengenai delivery.
                    Kimi akan mengatur setiap pengantaran untuk semua pesanan Anda yang masuk melalui backtokimi.com. Anda dapat menggunakan waktu Anda untuk mengasah kelebihan Anda dengan melahirkan produk baru, bentuk baru, dan rasa baru yang bisa menjadi daya tarik bisnis kuliner Anda.
                </p>
                <div class="maya-well-padding"></div>

                <div>
                    <h5 class="about-first-text text-center">What We Handle</h5>
                    <h4 class="text-bold text-center">Transactions</h4>
                    <p class="helvetica-18 text-gray-3 text-thin text-center">yang masuk melalui backtokimi.com selalu terekam dalam Order Dashboard sehingga para Chef dapat mengetahui jelas apa saja yang telah terjadi dan dapat mengecek ulang untuk menghindari kesalahan.
                    </p>
                    <div class="maya-small-padding"></div>
                </div>


                <div>
                    <h4 class="text-bold text-center">Delivery</h4>
                    <p class="helvetica-18 text-gray-3 text-thin text-center">kimi telah bekerja sama dengan jasa-jasa delivery. Para Chef hanya perlu mengerjakan pesanan yang telah dipesan dan mencatat nama, alamat lengkap, no. handphone para Buyer (pembeli) yang terekam dalam Order Dashboard pada pesanan tersebut, sehingga para Server (pengantar) dapat jelas mengantar pesanan-pesanan Anda dan kimi jadwalkan pengantaran untuk semua pesanan Anda yang masuk melalui backtokimi.com.
                        Jika ada pesanan masuk dan Anda menerima (tap approve) pesanan tersebut, maka sistem kimi akan langsung menjadwalkan kepada jasa delivery untuk setiap pesanan yang Anda terima.

                    </p>
                    <div class="maya-small-padding"></div>
                </div>

                <div>
                    <h4 class="text-bold text-center">Product Statistic</h4>
                    <p class="helvetica-18 text-gray-3 text-thin text-center">Statistik ini dapat Anda lihat di setiap produk Anda.
                        Hal ini untuk membantu Anda menganalisa produk mana yang paling diminati oleh masyarakat dan produk mana yang perlu Anda dorong untuk meningkatkan penjualan.
                    </p>
                    <div class="maya-small-padding"></div>
                </div>



            </div>
        </div>
    </div>

</div><!-- /.container -->

<!--include footer-->
<div class="include-footer"></div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./js/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="./js/bootstrap.min.js"></script>

<!--kimi basic js-->
<script src="js/kimi.js"></script>

</body>
</html>
