<!DOCTYPE html>
<html lang="en" ng-app="bannoithatonline">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="taiNguyenCuaThang/css/chat.css">
</head>

<body>
    <div id="body" ng-controller="openAiCtrl">

        <div id="chat-circle" class="btn btn-raised">
            <div id="chat-overlay"></div>
            <i class="material-icons">speaker_phone</i>
        </div>

        <div class="chat-box">
            <div class="chat-box-header">
                ChatBot
                <span class="chat-box-toggle"><i class="material-icons">close</i></span>
            </div>
            <div class="chat-box-body">
                <div class="chat-box-overlay">
                </div>
                <div class="chat-logs">
                    <div>
                        <h3>Feedback Data:</h3>
                        <!-- <pre>{{ feedbackData.data[0].content[0].text.value }}</pre> -->
                    </div>
                </div><!--chat-log -->
            </div>
            <div class="chat-input">
                <form>
                    <input ng-model="userMessage" type="text" id="chat-input" placeholder="Send a message..." />
                    <button ng-click="sendMessage()" type="submit" class="chat-submit" id="chat-submit"><i
                            class="material-icons">send</i></button>
                </form>
            </div>
        </div>
    </div>

    <script src="taiNguyenCuaThang/js/chatOpenAi.js"></script>
    <!-- <script src="taiNguyenCuaThang/js/chathtml.js"></script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"></script>

</body>

</html>