<!DOCTYPE html>
<html lang="en" ng-app="bannoithatonline">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="taiNguyenCuaThang/css/chat.css">
</head>

<body>
    <!-- <div ng-controller="openAiCtrl">

        <button ng-click="callAPI()">Bắt đầu</button>
        <br>
        <form ng-submit="sendMessage()">
            <input type="text" ng-model="userMessage" placeholder="Type your message" required />
            <button type="submit">Send Message</button>
        </form>
        <br>
        <button ng-click="runThread()">Chạy Thread</button>
        <br>
        <button ng-click="checkRunThreadId()">Kiểm tra trạng thái Thread</button>
        <br>
        <div ng-if="runThreadStatus">
            <p>Trạng thái Run Thread: {{ runThreadStatus }}</p>
        </div>
        <button ng-click="showFeedback()">Hiển thị phản hồi</button>
        <div ng-if="feedbackData">
            <p>Thông tin phản hồi: {{ feedbackData }}</p>
        </div>
    </div> -->

    <!-- <div ng-controller="openAiCtrl">

        <div>
            <h3>Feedback Data:</h3>
            <pre>{{ feedbackData | json }}</pre>
        </div>

        <input type="text" ng-model="userMessage" placeholder="Type your message..." />
        <button ng-click="sendMessage()">Send</button>
    </div> -->

    <div id="center-text">
        <h2>ChatBox UI</h2>
        <p>Message send and scroll to bottom enabled </p>
    </div>
    <div id="body" ng-controller="openAiCtrl">

        <div id="chat-circle" class="btn btn-raised">
            <div id="chat-overlay"></div>
            <i class="material-icons">speaker_phone</i>
        </div>

        <div class="chat-box">
            <div class="chat-box-header">
                ChatBot
                <span class="chat-box-toggle"><i class="material-icons">close</i></span>
            </div>
            <div class="chat-box-body">
                <div class="chat-box-overlay">
                </div>
                <div class="chat-logs">
                    <div>
                        <h3>Feedback Data:</h3>
                        <!-- <pre>{{ feedbackData.data[0].content[0].text.value }}</pre> -->
                    </div>
                </div><!--chat-log -->
            </div>  
            <div class="chat-input">
                <form>
                    <input ng-model="userMessage" type="text" id="chat-input" placeholder="Send a message..." />
                    <button ng-click="sendMessage()" type="submit" class="chat-submit" id="chat-submit"><i
                            class="material-icons">send</i></button>
                </form>
            </div>
        </div>
    </div>

    <script src="taiNguyenCuaThang/js/chatOpenAi.js"></script>
    <!-- <script src="taiNguyenCuaThang/js/chathtml.js"></script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"></script>

</body>

</html>