
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" ng-app="bannoithatonline">

<head>
    <div data-th-insert="~{include/style.html}"></div>

    <title>Checkout 1</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="css/kimi.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</head>

<body>

    <div data-th-insert="~{include/navbar.html}"></div>

<div class="container-fluid" ng-controller="OrderDetailController">

    <div class="kimi-container">
        <!--breadcrumb start-->
        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <div class="box-bg-white" style="width: 100%;">
                        <div class="">
                            <h5 class="">Mã hóa đơn: {{orderDetail.orderID }}</h5>
                            <h5 class="">Ngày mua: {{orderDetail.formattedTime}}</h5>
                            <div class="row">
                                <div class="col-md-12">
                                  <!-- Display product images side by side in the same row -->
                                  <div ng-repeat="product in orderDetail.products" class="d-inline-block col-md-2 text-center">
                                    <img style="width: 200%; height: 20%;" class="img img-thumbnail" ng-src="{{product.imageUrl}}" alt="{{product.name}}">
                                    <p class="mt-2">{{product.name}} x {{product.quantity}}</p>
                                  </div>
                                </div>
                              </div>
                              <h5 class="">Địa chỉ nhận hàng: Số nhà : {{ orderDetail.address.sonha }} - Đường {{orderDetail.address.duong }} - {{ orderDetail.address.phuongxa }} - {{ orderDetail.address.quanhuyen }} - {{ orderDetail.address.tinhthanhpho }}</h5>
                              
                            <div class="">
                                <p class="">Thành tiền: {{orderDetail.sumpayment | currency : '' : 0}} VND</p>
                            </div>
                            <!-- <a href="" class="btn btn-primary" style="float: left">Hủy đơn</a> -->
                            <!-- <a href="" class="btn btn-primary" style="float: right" ng-click="btnXemChiTiet(order)">Xem chi tiết</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.container -->

<!--include footer-->
<div data-th-insert="~{include/footer.html}"></div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./js/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="./js/bootstrap.min.js"></script>

<!--kimi basic js-->
<script src="js/kimi.js"></script>
<script src="js/user/orderdetail.js"></script>

</body>
</html>
