<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" ng-app="bannoithatonline">

<head>

    <!--+++++++++++++ CSS THEME ++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <link rel="stylesheet" href="/taiNguyenCuaDung/css/index.css">
    <link rel="stylesheet" href="/taiNguyenCuaDung/css/indexcolor.css">
    <link rel="stylesheet" href="/taiNguyenCuaDung/css/theme1.css">
    <link rel="stylesheet" href="/taiNguyenCuaDung/css/theme2.css">
    <link rel="stylesheet" href="/taiNguyenCuaDung/css/theme3.css">
    <link rel="stylesheet" href="taiNguyenCuaThang/css/login.css">

    <!--+++++++++++++ JS THEME ++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <script type="text/javascript" src="taiNguyenCuaDung/js/jquery.min.js"></script>
    <script type="text/javascript" src="taiNguyenCuaDung/js/theme.js"></script>

    <link rel="preconnect" href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700&amp;display=swap"
        crossorigin="">
    <link rel="preload stylesheet" href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700&amp;display=swap"
        as="style">
    <link rel="preload" href="//theme.hstatic.net/200000796751/1001150659/14/fontawesome-webfont.woff?v=788" as="font"
        type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="//theme.hstatic.net/200000796751/1001150659/14/fontawesome-webfont.woff2?v=788" as="font"
        type="font/woff2" crossorigin="anonymous">

    <link rel="preload stylesheet" href="//theme.hstatic.net/200000796751/1001150659/14/style-themes.scss.css?v=788"
        as="style">

    <title>Checkout 1</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="css/kimi.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!--+++++++++++++ CSS THEME ++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <link rel="stylesheet" href="/taiNguyenCuaDung/css/index.css">
    <link rel="stylesheet" href="/taiNguyenCuaDung/css/indexcolor.css">
    <link rel="stylesheet" href="/taiNguyenCuaDung/css/theme1.css">
    <link rel="stylesheet" href="/taiNguyenCuaDung/css/theme2.css">
    <link rel="stylesheet" href="/taiNguyenCuaDung/css/theme3.css">
    <link rel="stylesheet" href="taiNguyenCuaThang/css/login.css">

    <!--+++++++++++++ JS THEME ++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <script type="text/javascript" src="taiNguyenCuaDung/js/jquery.min.js"></script>
    <script type="text/javascript" src="taiNguyenCuaDung/js/theme.js"></script>
    <link rel="preconnect" href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700&amp;display=swap"
        crossorigin="">
    <link rel="preload stylesheet" href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700&amp;display=swap"
        as="style">
    <link rel="preload" href="//theme.hstatic.net/200000796751/1001150659/14/fontawesome-webfont.woff?v=788" as="font"
        type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="//theme.hstatic.net/200000796751/1001150659/14/fontawesome-webfont.woff2?v=788" as="font"
        type="font/woff2" crossorigin="anonymous">

    <link rel="preload stylesheet" href="//theme.hstatic.net/200000796751/1001150659/14/style-themes.scss.css?v=788"
        as="style">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        .product-row {
            display: flex;
            align-items: center;
        }

        .product-container {
            border-bottom: 1px solid #ccc;
            border-top: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 10px;
        }

        .product-name {
            flex-grow: 1;
            /* Cho phép product.name mở rộng để căn giữa */
        }
    </style>
</head>

<body ng-controller="OrderController">

    <div data-th-insert="~{include/navbar.html}"></div>

    <div class="container-fluid" style="padding-left: 5%;">

        <div class="row">
            <div class="col-md-12 mt-3" ng-if="orders.length === 0">
                <div class="alert alert-info" role="alert">
                    Hiện tại bạn chưa có đơn hàng nào.
                </div>
                <a class="btn btn-danger" href="index">Thêm sản phẩm</a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <input class="form-control" type="text" ng-model="searchProduct" placeholder="Nhập tên sản phẩm cần tìm"
                    ng-change="searchProducts()">
            </div>
        </div>

        <div class="row" style="margin-top: 0.5%;margin-bottom: 0.5%;">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <select class="form-control" ng-model="selectStatus" ng-change="optionStatusView()">
                    <option value="" disabled selected>Hiển thị đơn hàng theo trạng thái</option>
                    <option value="Tất cả">Tất cả</option>
                    <option value="Chờ xác nhận">Chờ xác nhận</option>
                    <option value="Đã xác nhận">Đã xác nhận</option>
                    <option value="Đang giao hàng">Đang giao hàng</option>
                    <option value="Giao hàng thành công">Giao hàng thành công</option>
                    <option value="Thanh toán thành công">Thanh toán thành công</option>
                    <option value="Đã hủy">Đã hủy</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" ng-if="listFind.length != 0">
                <div class="row">
                    <div class="box-bg-white product-container" style="width: 100%;" ng-repeat="order in orders">
                        <div class="row">
                            <div class="col-lg-8 col-md-8">
                                <h5><i class="bi bi-calendar"></i> Ngày mua: {{order.formattedTime}}</h5>
                            </div>
                            <div class="col-lg-4 col-md-4" style="display: flex; align-items: center;">
                                <h5 style="margin-right: 5%;"><i class="bi bi-info-circle-fill"></i> Mã hóa đơn:
                                    {{order.orderID }}</h5>
                                <h5 style="font-weight: bold;"><i class="bi bi-check-circle-fill text-success"></i>
                                    Trạng thái:
                                    {{order.orderstatus.orderstatusname}}</h5>
                            </div>
                        </div>
                        <hr />

                        <div class="row product-row" ng-repeat="product in order.products">
                            <div class="col-lg-2 col-md-8">
                                <img style="width: 100%; height: 100%;" class="img img-thumbnail"
                                    ng-src="{{product.imageUrl}}" alt="{{product.name}}">
                            </div>

                            <div class="col-lg-6 col-md-4 product-name">
                                <p class="mt-2" style="font-size: 16px; font-weight: bold;">{{product.name}} x
                                    {{product.quantity}}</p>
                            </div>

                            <div>
                                <!-- đánh giá -->
                                <!-- <button type="button" class="btn btn-primary" style="float: right" ng-click=""
                                ng-if="order.orderstatus.orderstatusname === 'Hoàn thành'">Đánh giá</button> -->
                                <a style="margin-right: 10px;"
                                    href="productdetail/formEvalate/{{product.productId}}/{{product.customerid}}/{{order.orderID}}"
                                    class="btn btn-primary" ng-if="order.orderstatus.orderstatusname === 'Giao hàng thành công' && product.evaluateId === null"
                                    ng-disabled="evaluationDone">
                                    Đánh giá</a>


                                <a href="" class="btn btn-primary" style="float: right; margin-right: 10px;"
                                    ng-if="order.orderstatus.orderstatusname === 'Giao hàng thành công'">Mua
                                    tiếp</a>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <p class="mt-2" style="color: blue; font-size: 16px; font-weight: bold;">Giá sản phẩm:
                                    {{product.price | currency : '' : 0}} VND</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-8">
                                <h4 style="font-weight: bold;"><i class="bi bi-geo-alt"></i> Địa chỉ nhận hàng:</h4>
                                <h5>Số nhà: {{order.address.sonha}} - Đường {{order.address.duong}} - {{
                                    order.address.phuongxa}} - {{ order.address.quanhuyen }} - {{
                                    order.address.tinhthanhpho }}</h5>
                            </div>
                            <div class="col-lg-4" ng-if="order.statusPayment.status == '0'">
                                <h5>
                                    <h4 style="font-weight: bold;"><i class="bi bi-credit-card-fill"></i> Phương thức
                                        thanh toán:</h4>
                                    {{order.payment.paymentname}} - Thanh toán thành công
                                </h5>

                            </div>

                            <div class="col-lg-4" ng-if="order.statusPayment.status == '1'">
                                <h5>
                                    <h4 style="font-weight: bold;"><i class="bi bi-credit-card-fill"></i> Phương thức
                                        thanh toán:</h4>
                                    {{order.payment.paymentname}} - Chưa thanh toán
                                </h5>
                            </div>

                            <div class="col-lg-4"
                                ng-if="order.statusPayment.status !== '1' && order.statusPayment.status !== '0'">
                                <h5>
                                    <h4 style="font-weight: bold;"><i class="bi bi-credit-card-fill"></i> Phương thức
                                        thanh toán:</h4>
                                    Thanh toán khi nhận hàng
                                </h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="" style="font-weight: bold; color: blue;"><i
                                        class="bi bi-currency-dollar"></i> Thành tiền: {{order.sumpayment |
                                    currency : '' : 0}} VND</p>
                            </div>

                            <div>
                                <!-- <a href="" class="btn btn-success" style="float: right"
                                    ng-if="order.statusPayment.status === '1'" ng-click="thanhToan(order)">Thanh
                                    toán</a>
                                    <a href="/user/evaluate" onclick="openModal()" class="btn btn-primary" style="float: right" ng-if="order.orderstatus.orderstatusname === 'Hoàn thành'">Đánh giá</a>

								
									<a href="" class="btn btn-primary" style="float: right; margin-right: 10px;"
								ng-if="order.orderstatus.orderstatusname === 'Hoàn thành'">Mua
								tiếp</a> 
				
                                <div>
                                    <a href="" class="btn btn-danger" style="float: left"
                                        ng-if="order.orderstatus.orderstatusname === 'Chờ xác nhận'"
                                        ng-click="huyDon(order)">Hủy đơn</a>
                                </div> -->

                                <div class="col-lg-6" ng-if="order.discount !== null">
                                    <p><i class="bi bi-gift-fill"></i> Mã giảm giá: {{order.discount.code}}
                                        ({{order.discount.percent}}%)</p>

                                </div>
                            </div>

                        </div>
                        <div style="display: flex; justify-content: space-between; float: right;">
                            <a style="margin-right: 10px;" href="" class="btn btn-success"
                                ng-if="order.statusPayment.status === '1'" ng-click="thanhToan(order)">Thanh toán</a>

                            <a href="" class="btn btn-danger"
                                ng-if="order.orderstatus.orderstatusname === 'Chờ xác nhận'"
                                ng-click="huyDon(order)">Hủy đơn</a>

                            <a href="" class="btn btn-primary"
                                ng-if="order.orderstatus.orderstatusname === 'Thanh toán thành công'"
                                ng-click="xacNhan(order)">Xác nhận đã nhận được hàng</a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" ng-if="listFind.length == 0">
                    <div class="row">
                        <div class="box-bg-white" style="width: 100%;" ng-repeat="order in listFind">
                            <!-- Your order display code here -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <script>
            // Giả sử bạn có một hàm để xử lý việc đánh giá được hoàn thành
            $scope.evaluate = function () {
                // Logic đánh giá của bạn ở đây
                // Khi việc đánh giá đã hoàn thành, thiết lập cờ thành true
                $scope.evaluationDone = true;
            };

        </script>

        <div data-th-insert="~{include/footer.html}"></div>

        <!-- Bootstrap core JavaScript -->
        <script src="./js/jquery.min.js"></script>
        <script>
            window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
        </script>
        <script src="./js/bootstrap.min.js"></script>

        <script src="js/user/order.js"></script>

</body>

</html>