<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" ng-app="bannoithatonline">

<head>
   

    <title>Checkout 1</title>

    	<!--+++++++++++++ CSS THEME ++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	<link rel="stylesheet" href="/taiNguyenCuaDung/css/index.css">
	<link rel="stylesheet" href="/taiNguyenCuaDung/css/indexcolor.css">
	<link rel="stylesheet" href="/taiNguyenCuaDung/css/theme1.css">
	<link rel="stylesheet" href="/taiNguyenCuaDung/css/theme2.css">
	<link rel="stylesheet" href="/taiNguyenCuaDung/css/theme3.css">

    	<!--+++++++++++++ JS THEME ++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	<script type="text/javascript" src="taiNguyenCuaDung/js/jquery.min.js"></script>
	<script type="text/javascript" src="taiNguyenCuaDung/js/theme.js"></script>

    <link rel="preconnect" href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700&amp;display=swap"
		crossorigin="">
	<link rel="preload stylesheet" href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700&amp;display=swap"
		as="style">
	<link rel="preload" href="//theme.hstatic.net/200000796751/1001150659/14/fontawesome-webfont.woff?v=788" as="font"
		type="font/woff2" crossorigin="anonymous">
	<link rel="preload" href="//theme.hstatic.net/200000796751/1001150659/14/fontawesome-webfont.woff2?v=788" as="font"
		type="font/woff2" crossorigin="anonymous">

	<link rel="preload stylesheet" href="//theme.hstatic.net/200000796751/1001150659/14/style-themes.scss.css?v=788"
		as="style">

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="css/kimi.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Add these script and style references in your HTML -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <style>
        #paymentMethod {
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 65%;
            height: 100%;
        }


        
    </style>

    <!--+++++++++++++ CSS THEME ++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<link rel="stylesheet" href="/taiNguyenCuaDung/css/index.css">
<link rel="stylesheet" href="/taiNguyenCuaDung/css/indexcolor.css">
<link rel="stylesheet" href="/taiNguyenCuaDung/css/theme1.css">
<link rel="stylesheet" href="/taiNguyenCuaDung/css/theme2.css">
<link rel="stylesheet" href="/taiNguyenCuaDung/css/theme3.css">


<!--+++++++++++++ JS THEME ++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<script type="text/javascript" src="taiNguyenCuaDung/js/jquery.min.js"></script>
<script type="text/javascript" src="taiNguyenCuaDung/js/theme.js"></script>
<link rel="preconnect" href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700&amp;display=swap"
    crossorigin="">
<link rel="preload stylesheet" href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700&amp;display=swap"
    as="style">
<link rel="preload" href="//theme.hstatic.net/200000796751/1001150659/14/fontawesome-webfont.woff?v=788" as="font"
    type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="//theme.hstatic.net/200000796751/1001150659/14/fontawesome-webfont.woff2?v=788" as="font"
    type="font/woff2" crossorigin="anonymous">

<link rel="preload stylesheet" href="//theme.hstatic.net/200000796751/1001150659/14/style-themes.scss.css?v=788"
    as="style">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
    <div data-th-insert="~{include/navbar.html}"></div>
    <div class="container-fluid" ng-controller="checkoutController">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-7">
                    <div class="box-bg-white" style="width:100%">                        
                        <div class="row">
                            <div class="col-md-12">
                                <form>
                                    <div class="form-group">
                                        <label for="fullname"><i class="fas fa-user"></i> Họ và tên:</label>
                                        <input type="text" class="form-control" id="fullname" ng-model="customer.name" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone"><i class="fas fa-phone"></i> Số điện thoại:</label>
                                        <input type="text" class="form-control" id="phone" ng-model="customer.phone" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="email"><i class="fas fa-envelope"></i> Địa chỉ email:</label>
                                        <input type="email" class="form-control" id="email" ng-model="customer.account.email" disabled>
                                    </div>
                        
                                    <!-- Địa chỉ -->
                                    <h4><i class="fas fa-map-marker-alt"></i> Địa chỉ của bạn:</h4>
                                    <div class="form-group" style="margin-bottom: 5%;">
                                        <div class="radio" ng-repeat="addr in address" style="margin-bottom: 1%;">
                                            <label>
                                                <input type="radio" ng-model="selectedAddress" ng-value="addr.addressID" ng-checked="selectedAddressID === addr.addressID" name="addressGroup" ng-change="onAddressSelected(addr)" ng-click="isSelectedAddress(addr)">
                                                Số nhà: {{addr.sonha }} - Đường: {{addr.duong}} - {{ addr.phuongxa }} - {{ addr.quanhuyen }} - {{ addr.tinhthanhpho }}
                                            </label>
                                        </div>
                                    </div>
                        
                                    <!-- Thay đổi địa chỉ -->
                                    <div class="form-group">
                                        <label>Bạn muốn thay đổi địa chỉ khác?</label>
                                        <a href="#" class="btn btn-primary" ng-click="showSelectedInfoModal()"><i class="fas fa-edit"></i> Thay đổi</a>
                                    </div>
                                </form>
                                <div style="margin-bottom: 20px;">
                                    <label>Chọn phương thức thanh toán:</label>
                                    <select id="paymentMethod" class="form-control" ng-model="selectedPaymentMethod"
                                        ng-change="onPaymentMethodChange()"
                                        ng-options="paymentOption.paymentid as paymentOption.paymentname for paymentOption in paymentOptions">
                                        <option value="" disabled selected>Hãy chọn phương thức thanh toán</option>
                                    </select>
                                </div>

                                <a href="/cart" class="btn btn-default pull-left btn-warning text-black hidden-xs"
                                    style="border-radius: 10px;">Giỏ hàng</a>
                                <a id="checkoutButtonF" ng-click="continuePayment()"
                                    class="btn btn-default pull-right btn-primary hidden-xs"
                                    style="border-radius: 10px; color: white;">Tiếp tục thanh toán</a>

                                    <a id="checkoutButtonL" ng-click="continuePayment()"
                                    class="btn btn-default pull-right btn-primary hidden-xs"
                                    style="border-radius: 10px; ">Thanh toán</a>


                                <div class="clearfix maya-small-padding"></div>
                            </div>

                        </div>

                    </div>


                </div>

                <div class="col-md-5 mt-4">
                    <div class="box-bg-white hidden-xs" style="width: 100%;">
                        <div class="row" ng-repeat="payment in products">
                            <div ng-repeat="product in payment.Product">
                                <div class="col-lg-4 col-md-4 col-xs-6 less-padding-right">
                                    <img class="img img-thumbnail" ng-src="{{product.imageUrl}}" width="100%">
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-12">
                                    <span ng-bind="product.product.productname"></span><br />
                                    <span class="text-gray-2 text-thin" ng-bind="'Số lượng: ' + product.quantity"></span>
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-5">
                                    <p style="color: blue; font-weight: bold;" class="text-right" ng-bind="(product.product.pricexuat | currency : '' :0) + ' VND'"></p>
                                </div>
                                <div class="clearfix maya-small-padding"></div>
                            </div>
                        </div>

                        <hr>

                        <form style="margin-left: 10%;margin-right: 10%;">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12"><input type="text" class="form-control" id="discountInput"
                                            placeholder="Nhập mã giảm giá ?" ng-model-options="{ debounce: 1500 }"
                                            ng-model="discountCode" ng-change="discount()" ng-click="checkClear()" ng-disabled="isDiscountInputDisabled">
                                    </div>
                                    <!-- <div class="col-sm-4"><button type="submit" class="btn btn-default button-black-medium btn-block" ng-click="discount()">Áp dụng</button></div> -->
                                </div>
                            </div>

                        </form>
                        <hr />

                        <div class="row">
                            <div class="col-sm-8">Tổng tiền: </div>
                            <div style="color: blue;" class="col-sm-4 text-right" ng-bind="(products[0].TotalPayment | currency : '' :0) + ' VND'"></div>
                        </div>

                        <div class="row">
                            <div class="col-sm-8 less">Tiền giảm giá: </div>
                            <div style="color: blue;" class="col-sm-4 text-right" ng-bind="(valueDiscountCode | currency : '' :0) + ' VND'"></div>
                        </div>


                        <hr />
                        <div class="row">
                            <div class="col-sm-4 less">Số tiền cần thanh toán</div>
                            <div class="col-sm-8 text-right">
                                <h3 style="color: red;" class="less-margin" ng-bind="(products[0].TotalPayment - valueDiscountCode | currency : '':0) + ' VND'"></h3>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>



                   
                </div>
            </div>
   

    </div><!-- /.container -->

    <!--include footer-->
    <div class="include-footer"></div>


    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./js/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="./js/bootstrap.min.js"></script>

    <!--kimi basic js-->
   
    <script src="js/user/checkout.js"></script>

    

    <!-- SCRIPT THEME -->
	<script type="text/javascript" src="taiNguyenCuaDung/js/scripts.js" defer=""></script>

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

</html>