
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div data-th-insert="~{include/style.html}"></div>

    <title>Chef Directory</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="css/kimi.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">


    <![endif]-->
</head>

<body>

    <div data-th-insert="~{include/navbar.html}"></div>

<div class="container">

    <div class="kimi-container">
        <!--breadcrumb start-->
        <ol class="breadcrumb hidden-xs">
            <li><a href="#">Home</a></li>
            <li class="active">Chef Directory</li>
        </ol>

        <div class="clearfix"></div>


        <div class="row">
            <div class="col-sm-6 col-md-3" style="position: relative">
                <a href="channelDetail.html" class="thumbnail_item thumbnail less-padding" style="margin-bottom: 0;">
                    <img src="images/figure.jpg" alt="Chef Figure Image">
                </a>

                <div class="logo-avatar">
                    <img src="images/sucicakes_logo.png" width="70" class="img-circle">
                </div>

                <a href="channelDetail.html">
                    <div class="caption box">
                        <h4 class="text-center text-paragraph">Sucicakes</h4>
                        <p class="text-center text-paragraph">Kebon Jeruk, Jakarta</p>
                        <p class="text-center text-paragraph text-black">Premium Merchant</p>
                    </div>
                </a>
            </div>


            <div class="col-sm-6 col-md-3" style="position: relative">
                <a href="channelDetail.html" class="thumbnail_item thumbnail less-padding" style="margin-bottom: 0;">
                    <img src="images/figure2.jpg" alt="Chef Figure Image">
                </a>

                <div class="logo-avatar">
                    <img src="images/llball_logo.JPG" width="70" class="img-circle">
                </div>

                <a href="channelDetail.html">
                    <div class="caption box">
                        <h4 class="text-center text-paragraph">LL Ball</h4>
                        <p class="text-center text-paragraph">Kebon Jeruk, Jakarta</p>
                        <p class="text-center text-paragraph text-black">Premium Merchant</p>
                    </div>
                </a>
            </div>


            <div class="col-sm-6 col-md-3" style="position: relative">
                <a href="channelDetail.html" class="thumbnail_item thumbnail less-padding" style="margin-bottom: 0;">
                    <img src="images/figure3.jpg" alt="Chef Figure Image">
                </a>

                <div class="logo-avatar">
                    <img src="images/nasi_bakar_logo.jpg" width="70" class="img-circle">
                </div>

                <a href="channelDetail.html">
                    <div class="caption box">
                        <h4 class="text-center text-paragraph">Nasi Bakar 58</h4>
                        <p class="text-center text-paragraph">Kebon Jeruk, Jakarta</p>
                        <p class="text-center text-paragraph text-black">Premium Merchant</p>
                    </div>
                </a>
            </div>


            <div class="col-sm-6 col-md-3" style="position: relative">
                <a href="channelDetail.html" class="thumbnail_item thumbnail less-padding" style="margin-bottom: 0;">
                    <img src="images/figure4.jpg" alt="Chef Figure Image">
                </a>

                <div class="logo-avatar">
                    <img src="images/bang_gun_logo.jpg" width="70" class="img-circle">
                </div>

                <a href="channelDetail.html">
                    <div class="caption box">
                        <h4 class="text-center text-paragraph">Nasi Kotak Bang Gun</h4>
                        <p class="text-center text-paragraph">Kebon Jeruk, Jakarta</p>
                        <p class="text-center text-paragraph text-black">Premium Merchant</p>
                    </div>
                </a>
            </div>





        </div>
    </div>

</div><!-- /.container -->

<!--include footer-->
<div class="include-footer"></div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./js/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="./js/bootstrap.min.js"></script>

<!--kimi basic js-->
<script src="js/kimi.js"></script>

</body>
</html>
