<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div data-th-insert="~{include/style.html}"></div>

    <title>Blank Page</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="css/kimi.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">


    <![endif]-->
</head>

<body>

    <div data-th-insert="~{include/navbar.html}"></div>

<div class="container">

    <div class="kimi-container">
        <!--breadcrumb start-->
        <ol class="breadcrumb hidden-xs">
            <li><a href="index.html">Home</a></li>
            <li class="active">Jobs</li>
        </ol>

        <div class="clearfix"></div>


        <div class="row">
            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-12 col-xs-12">
                        <p class="text-right text-paragraph-small">Junior Chef <b>(20)</b> &nbsp; Developer <b>(2)</b></p>
                    </div>

                    <div class="col-md-4">
                        <a href="#">
                            <div class="card-info content">
                                <div class="avatar">
                                    <img width="36" src="images/sucicakes_logo.png" alt="sucicakes">
                                </div>

                                <p class="text-roboto-light roboto-14 text-black">Kebon Jeruk</p>


                                <h3>Fondan Artist for Birthday and Wedding Cakes</h3>


                                    <p class="text-secondary">Sucicakes</p>

                                <div class="text-paragraph-small short-description">
                                    Votre mission :&nbsp;
                                    - Vous « brainstormez » en amont des projets avec les DA afin d’imaginer des sites innovants proposant une expérience utilisateur avancée (animation, effets, etc.)
                                    - Sur la base des maquettes graphiques de l’équipe créa, vous...
                                </div>

                                <div class="row card-footer">
                                    <div class="col-md-6 col-xs-6"><p>Category: Chef</p></div>
                                    <div class="col-md-6 col-xs-6"><p class="text-right"><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days ago</p></div>
                                </div>

                            </div>
                        </a>
                    </div>


                    <div class="col-md-4">
                        <a href="#">
                            <div class="card-info content">
                                <div class="avatar">
                                    <img width="36" src="images/nasi_bakar_logo.jpg" alt="nasi bakar 58">
                                </div>

                                <p class="text-roboto-light roboto-14 text-black">Kebon Jeruk</p>

                                <div class="">
                                    <h3>Fondan Artist for Birthday and Wedding Cakes</h3>
                                </div>

                                <p class="text-secondary">Sucicakes</p>

                                <div class="text-paragraph-small short-description">
                                    Votre mission :&nbsp;
                                    - Vous « brainstormez » en amont des projets avec les DA afin d’imaginer des sites innovants proposant une expérience utilisateur avancée (animation, effets, etc.)
                                    - Sur la base des maquettes graphiques de l’équipe créa, vous...
                                </div>

                                <div class="row card-footer">
                                    <div class="col-md-6 col-xs-6"><p>Category: Chef</p></div>
                                    <div class="col-md-6 col-xs-6"><p class="text-right"><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days ago</p></div>
                                </div>

                            </div>
                        </a>
                    </div>


                    <div class="col-md-4">
                        <a href="#">
                            <div class="card-info content">
                                <div class="avatar">
                                    <img width="36" src="images/bang_gun_logo.jpg" alt="sucicakes">
                                </div>

                                <p class="text-roboto-light roboto-14 text-black">Kebon Jeruk</p>

                                <div class="">
                                    <h3>Fondan Artist for Birthday and Wedding Cakes</h3>
                                </div>

                                <p class="text-secondary">Sucicakes</p>

                                <div class="text-paragraph-small short-description">
                                    Votre mission :&nbsp;
                                    - Vous « brainstormez » en amont des projets avec les DA afin d’imaginer des sites innovants proposant une expérience utilisateur avancée (animation, effets, etc.)
                                    - Sur la base des maquettes graphiques de l’équipe créa, vous...
                                </div>

                                <div class="row card-footer">
                                    <div class="col-md-6 col-xs-6"><p>Category: Chef</p></div>
                                    <div class="col-md-6 col-xs-6"><p class="text-right"><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days ago</p></div>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div><!-- /.container -->

<!--include footer-->
<div class="include-footer"></div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./js/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="./js/bootstrap.min.js"></script>

<!--truncate paragraph-->
<script src="js/truncator/jquery.truncator.js"></script>

<!--kimi basic js-->
<script src="js/kimi.js"></script>

<script>
    // truncate paragraph
    $('.short-description').truncate({ max_length: 200 });
</script>

</body>
</html>