<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" ng-app="bannoithatonline">

<head>
    <div data-th-insert="~{include/style.html}"></div>

    <title>Articles</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="css/kimi.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- owl carousel -->
    <link rel="stylesheet" href="css/owl_carousel/owl.carousel.css">
    <link rel="stylesheet" href="css/owl_carousel/owl.theme.default.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>

</head>

<body ng-controller="productController">

    <div data-th-insert="~{include/navbar.html}"></div>

    <div class="container-fluid less-padding kimi-container">
        <div>
            <div>
                <div class="small-slider owl-carousel owl-theme">
                    <a href="products.html" class="item">
                        <div class="scrim"></div>
                        <span class="small-text-overlay">5 Products</span>
                        <p>Rice</p>
                        <img src="images/tag_nasi.jpg" width="100%">
                    </a>
                    <a href="products.html" class="item">
                        <div class="scrim"></div>
                        <span class="small-text-overlay">15 Products</span>
                        <p>Doughnut</p>
                        <img src="images/tag_doughnut.jpg" width="100%">
                    </a>
                    <a href="products.html" class="item">
                        <div class="scrim"></div>
                        <span class="small-text-overlay">52 Products</span>
                        <p>Breads</p>
                        <img src="images/tag_bread.jpg" width="100%">
                    </a>
                    <a href="products.html" class="item">
                        <div class="scrim"></div>
                        <span class="small-text-overlay">100 Products</span>
                        <p>Cakes</p>
                        <img src="images/tag_cake.jpg" width="100%">
                    </a>
                    <a href="products.html" class="item">
                        <div class="scrim"></div>
                        <span class="small-text-overlay">10 Products</span>
                        <p>Coffee</p>
                        <img src="images/tag_coffee.jpg" width="100%">
                    </a>
                    <a href="products.html" class="item">
                        <div class="scrim"></div>
                        <span class="small-text-overlay">10 Products</span>
                        <p>Fast Food</p>
                        <img src="images/tag_fastfood.jpg" width="100%">
                    </a>
                    <a href="products.html" class="item">
                        <div class="scrim"></div>
                        <span class="small-text-overlay">10 Products</span>
                        <p>healthy Food</p>
                        <img src="images/tag_healthy.jpg" width="100%">
                    </a>
                    <a href="products.html" class="item">
                        <div class="scrim"></div>
                        <span class="small-text-overlay">5 Products</span>
                        <p>Juice</p>
                        <img src="images/tag_juice.jpg" width="100%">
                    </a>
                    <a href="products.html" class="item">
                        <div class="scrim"></div>
                        <span class="small-text-overlay">20 Products</span>
                        <p>Korean Food</p>
                        <img src="images/tag_korean.jpg" width="100%">
                    </a>
                    <a href="products.html" class="item">
                        <div class="scrim"></div>
                        <span class="small-text-overlay">10 Products</span>
                        <p>Noodles</p>
                        <img src="images/tag_noodle.jpg" width="100%">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="maya-tiny-padding"></div>
        <div>
            <!--breadcrumb start-->
            <!--<ol class="breadcrumb hidden-xs">-->
            <!--<li><a href="index.html">Home</a></li>-->
            <!--<li>Articles</li>-->
            <!--</ol>-->

            <div class="container">

                <div class="row">

                    
                    <div class="row">
                        <div class="col-md-3">
                            <h4 class="fw-bolder">BỘ LỌC:</h4>
                        </div>
                        <div class="dropdown col-md-3">
                            <button class="btn btn-default dropdown-toggle " type="button" id="dropdownMenu1"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                DANH MỤC
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li ng-repeat="category in categorys" style="margin: 10px;">
                                   
                                    <div class="form-check">
                                        <!-- <input id="categoryCheckbox{{category.id}}" type="checkbox" ng-click="clickCategory(category.id)" class="form-check-input">
                                        <label class="form-check-label ml-2">{{category.productname}}</label> -->
                                        <a href="" ng-click="clickCategory(category.id)">{{category.productname}}</a>
                                      </div>
                                </li>
                            </ul>
                        </div>

                        <div class="dropdown col-md-3">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Dropdown
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>

                        <div class="dropdown col-md-3">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Dropdown
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>


                    <div class="col-sm-6 col-md-3" data-behavior="sample_code" ng-repeat="product in products">
                        <a href="productdetail/{{product.productid}}" ng-click="clickById(product.productid)"
                            class="thumbnail_item thumbnail less-padding less-margin">
                            <img src="{{product.productimages[0].image}}" alt="risotto lemon">
                        </a>
                        <div class="caption box">
                            <h3>{{product.productname}}</h3>
                            <div class="row">
                                <div class="col-sm-8 col-xs-6">
                                    <p class="default-userProductList-CardList-price">{{product.pricexuat}}</p>
                                    <span class="min-order">10 pcs min order {{itemsPerPage}}</span>
                                </div>

                                <div class="col-sm-4 col-xs-6">
                                    <button 
                                        class="btn default-userProductList-CardList-button pull-right" role="button">Thêm vào giỏ</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">


                <div class="col-md-12 hidden-xs text-center">
                    <!--pagination-->
                    <span>Total Pages: {{ totalPages }}</span>
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li ng-class="{'disabled' : currentPage === 1} ">
                                <a href="#" ng-click="back()">
                                    < </a>
                            </li>
                            <li ng-repeat="page in numberArray()" ng-if="page !== undefined"
                                ng-class="{'active' : currentPage === page} ">
                                <a href="#" ng-click="goToPage(page)">{{ page }}</a>
                            </li>
                            <li ng-class="{'disabled' : totalPages === currentPage} ">
                                <a href="#" ng-click="next()">></a>
                            </li>
                        </ul>
                    </nav>
                    <!--pagination ends-->
                </div>
            </div>
        </div>

    </div><!-- /.container -->

    <!--include footer-->
    <div class="">
        <div data-th-insert="~{include/footer.html}"></div>
    </div>


    <script src="./js/jquery.min.js"></script>

    <!-- owl carousel -->
    <script src="js/owl_carousel/owl.carousel.js"></script>

    <!--boostrap js-->
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="./js/bootstrap.min.js"></script>

    <!--kimi basic js-->
    <script src="js/kimi.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
    <script src="/js/user/product.js"></script>

    <script>
        $('.small-slider').owlCarousel({
            loop: true,
            margin: 10,
            nav: false,
            dots: false,
            responsive: {
                0: {
                    items: 3.5
                },
                600: {
                    items: 6
                },
                1000: {
                    items: 8
                }
            }
        })
    </script>

</body>

</html>