
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div data-th-insert="~{include/style.html}"></div>

    <title>Articles</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="css/kimi.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- owl carousel -->
    <link rel="stylesheet" href="css/owl_carousel/owl.carousel.css">
    <link rel="stylesheet" href="css/owl_carousel/owl.theme.default.css">

</head>

<body>

    <div data-th-insert="~{include/navbar.html}"></div>

<div class="container-fluid less-padding kimi-container">
    <div>
        <div>
            <div class="small-slider owl-carousel owl-theme">
                <a href="products.html" class="item">
                    <div class="scrim"></div>
                    <span class="small-text-overlay">5 Products</span>
                    <p>Rice</p>
                    <img src="images/tag_nasi.jpg" width="100%">
                </a>
                <a href="products.html" class="item">
                    <div class="scrim"></div>
                    <span class="small-text-overlay">15 Products</span>
                    <p>Doughnut</p>
                    <img src="images/tag_doughnut.jpg" width="100%">
                </a>
                <a href="products.html" class="item">
                    <div class="scrim"></div>
                    <span class="small-text-overlay">52 Products</span>
                    <p>Breads</p>
                    <img src="images/tag_bread.jpg" width="100%">
                </a>
                <a href="products.html" class="item">
                    <div class="scrim"></div>
                    <span class="small-text-overlay">100 Products</span>
                    <p>Cakes</p>
                    <img src="images/tag_cake.jpg" width="100%">
                </a>
                <a href="products.html" class="item">
                    <div class="scrim"></div>
                    <span class="small-text-overlay">10 Products</span>
                    <p>Coffee</p>
                    <img src="images/tag_coffee.jpg" width="100%">
                </a>
                <a href="products.html" class="item">
                    <div class="scrim"></div>
                    <span class="small-text-overlay">10 Products</span>
                    <p>Fast Food</p>
                    <img src="images/tag_fastfood.jpg" width="100%">
                </a>
                <a href="products.html" class="item">
                    <div class="scrim"></div>
                    <span class="small-text-overlay">10 Products</span>
                    <p>healthy Food</p>
                    <img src="images/tag_healthy.jpg" width="100%">
                </a>
                <a href="products.html" class="item">
                    <div class="scrim"></div>
                    <span class="small-text-overlay">5 Products</span>
                    <p>Juice</p>
                    <img src="images/tag_juice.jpg" width="100%">
                </a>
                <a href="products.html" class="item">
                    <div class="scrim"></div>
                    <span class="small-text-overlay">20 Products</span>
                    <p>Korean Food</p>
                    <img src="images/tag_korean.jpg" width="100%">
                </a>
                <a href="products.html" class="item">
                    <div class="scrim"></div>
                    <span class="small-text-overlay">10 Products</span>
                    <p>Noodles</p>
                    <img src="images/tag_noodle.jpg" width="100%">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="maya-tiny-padding"></div>
    <div>
        <!--breadcrumb start-->
        <!--<ol class="breadcrumb hidden-xs">-->
            <!--<li><a href="index.html">Home</a></li>-->
            <!--<li>Articles</li>-->
        <!--</ol>-->

        <div class="row">
            <div class="col-md-12">
                <p class="text-roboto-light">30 Products in Category <strong>Healthy</strong></p>
            </div>

            <div class="col-sm-6 col-md-4" data-behavior="sample_code">
                <a href="productDetail.html" class="thumbnail_item thumbnail less-padding less-margin">
                    <img src="images/risotto_square.jpg" alt="risotto lemon">
                </a>
                <div class="caption box">
                    <h3>Lemon Risotto</h3>
                    <div class="row">
                        <div class="col-sm-8 col-xs-6">
                            <p class="default-userProductList-CardList-price">Rp 45.000 / pcs</p>
                            <span class="min-order">10 pcs min order</span>
                        </div>

                        <div class="col-sm-4 col-xs-6">
                            <button onclick="location.href='shoppingCart.html'" class="btn default-userProductList-CardList-button pull-right" role="button">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <a href="productDetail.html" class="thumbnail_item thumbnail less-padding less-margin">
                    <img src="images/oats.jpg" alt="Oats Cake">
                </a>
                <div class="caption box">
                    <h3>Oats Cake</h3>
                    <div class="row">
                        <div class="col-sm-8 col-xs-6">
                            <p class="default-userProductList-CardList-price">Rp 4.500 / pcs</p>
                            <span class="min-order">10 pcs min order</span>
                        </div>

                        <div class="col-sm-4 col-xs-6">
                            <button onclick="location.href='shoppingCart.html'" class="btn default-userProductList-CardList-button pull-right" role="button">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <a href="productDetail.html" class="thumbnail_item thumbnail less-padding less-margin">
                    <img src="images/mango.jpg" alt="Mango Cake">
                </a>
                <div class="caption box">
                    <h3>Mango Cake</h3>
                    <div class="row">
                        <div class="col-sm-8 col-xs-6">
                            <p class="default-userProductList-CardList-price">Rp 23.000 / pcs</p>
                            <span class="min-order">5 pcs min order</span>
                        </div>

                        <div class="col-sm-4 col-xs-6">
                            <button onclick="location.href='shoppingCart.html'" class="btn default-userProductList-CardList-button pull-right" role="button">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <a href="productDetail.html" class="thumbnail_item thumbnail less-padding less-margin">
                    <img src="images/cake_square.jpg" alt="Cake">
                </a>
                <div class="caption box">
                    <h3>Cake</h3>
                    <div class="row">
                        <div class="col-sm-8 col-xs-6">
                            <p class="default-userProductList-CardList-price">Rp 23.000 / pcs</p>
                            <span class="min-order">5 pcs min order</span>
                        </div>

                        <div class="col-sm-4 col-xs-6">
                            <button onclick="location.href='shoppingCart.html'" class="btn default-userProductList-CardList-button pull-right" role="button">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4" data-behavior="sample_code">
                <a href="productDetail.html" class="thumbnail_item thumbnail less-padding less-margin">
                    <img src="images/seafood_square.jpg" alt="cake">
                </a>
                <div class="caption box">
                    <h3>Party Cake</h3>
                    <div class="row">
                        <div class="col-sm-8 col-xs-6">
                            <p class="default-userProductList-CardList-price">Rp 45.000 / pcs</p>
                            <span class="min-order">10 pcs min order</span>
                        </div>

                        <div class="col-sm-4 col-xs-6">
                            <button onclick="location.href='shoppingCart.html'" class="btn default-userProductList-CardList-button pull-right" role="button">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4" data-behavior="sample_code">
                <a href="productDetail.html" class="thumbnail_item thumbnail less-padding less-margin">
                    <img src="images/moesli.jpg" alt="Moesli">
                </a>
                <div class="caption box">
                    <h3>Moesli</h3>
                    <div class="row">
                        <div class="col-sm-8 col-xs-6">
                            <p class="default-userProductList-CardList-price">Rp 45.000 / pcs</p>
                            <span class="min-order">10 pcs min order</span>
                        </div>

                        <div class="col-sm-4 col-xs-6">
                            <button onclick="location.href='shoppingCart.html'" class="btn default-userProductList-CardList-button pull-right" role="button">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="product-detail-tag-container col-md-4 col-md-offset-4 visible-xs text-center">
                <button class="btn outline-white-button text-center">Load More</button>
            </div>

            <div class="col-md-12 hidden-xs text-center">
                <!--pagination-->
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="current"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>
                </nav>
                <!--pagination ends-->
            </div>
        </div>
    </div>

</div><!-- /.container -->

<!--include footer-->
<div class="include-footer"></div>


<script src="./js/jquery.min.js"></script>

<!-- owl carousel -->
<script src="js/owl_carousel/owl.carousel.js"></script>

<!--boostrap js-->
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="./js/bootstrap.min.js"></script>

<!--kimi basic js-->
<script src="js/kimi.js"></script>

<script>
    $('.small-slider').owlCarousel({
        loop:true,
        margin:10,
        nav:false,
        dots: false,
        responsive:{
            0:{
                items:3.5
            },
            600:{
                items:6
            },
            1000:{
                items:8
            }
        }
    })
</script>

</body>
</html>
