<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" ng-app="bannoithatonline">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      href="https://s3-ap-southeast-1.amazonaws.com/kimistatic/images/favicon.ico"
    />
    <link
      rel="apple-touch-icon"
      href="https://s3-ap-southeast-1.amazonaws.com/kimistatic/images/apple-touch-icon.png"
    />
    <link
      href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Profile</title>

    <!--+++++++++++++ CSS THEME ++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <link rel="stylesheet" href="taiNguyenCuaDung/css/theme1.css" />

    <link rel="stylesheet" href="taiNguyenCuaDung/css/theme2.css" />

    <link rel="stylesheet" href="taiNguyenCuaDung/css/theme3.css" />

    <link rel="stylesheet" href="/taiNguyenCuaThang/css/chat.css" />

    <link rel="stylesheet" href="../taiNguyenCuaDung/css/themes.scss.css" />
    <!--+++++++++++++ JS THEME ++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <script
      type="text/javascript"
      src="/taiNguyenCuaDung/js/jquery.min.js"
    ></script>
    <script type="text/javascript" src="/taiNguyenCuaDung/js/theme.js"></script>

    <link rel="stylesheet" href="../taiNguyenCuaBao/css/profile.css" />
  </head>
  <div data-th-insert="~{include/navbar.html}"></div>
  <body ng-controller="ProfileController">
    <main class="wrapperMain_content">
      <div class="layout-account">
        <div class="container">
          <div class="wrapbox-content-account">
            <div class="header-page clearfix">
              <h1>Tài khoản của bạn</h1>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-12 col-12 sidebar-account">
                <div class="AccountSidebar">
                  <h3 class="AccountTitle titleSidebar">Tài khoản</h3>
                  <div class="AccountContent">
                    <div class="AccountList">
                      <ul class="list-unstyled">
                        <li class="current">
                          <a href="/user/profile">Thông tin tài khoản</a>
                        </li>
                        <li>
                          <a href="/user/profile/pageaddress"
                            >Danh sách địa chỉ</a
                          >
                        </li>
                        <li class="last">
                          <a href="/logout">Đăng xuất</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-9 col-md-12 col-12">
                <div class="row wrap_content_account">
                  <div class="col-12 wrap_inforAccount" id="customer_sidebar">
                    <p class="title-detail">Thông tin tài khoản</p>
                    <p>
                      <strong>Tên đăng nhập:</strong
                      ><span> {{ customer.account.username }}</span>
                    </p>
                    <p>
                      <strong>Họ và tên:</strong
                      ><span> {{ customer.name }}</span>
                    </p>
                    <!-- <h2 class="name_account">Tạ Bảo</h2> -->
                    <p>
                      <strong>Email:</strong
                      ><span> {{ customer.account.email }}</span>
                    </p>
                    <p>
                      <strong>Số điện thoại:</strong
                      ><span> {{ customer.phone }}</span>
                    </p>
                    <div class="address">
                      <a id="view_address" href="/user/profile/pageaddress"
                        >Xem địa chỉ</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div>
      <div class="row">
        <!-- <div class="row">
            <div class="col-md-8">

                <div class="row">
                    <div class="box-bg-white col-md-12 col-xs-12">
                        <h3 class="section-title">Hồ sơ của tôi</h3>
                        <p class="">Quản lý thông tin hồ sơ để bảo mật tài khoản</p>
                    </div>
                </div>

                <div class="row">
                    <div class="box-bg-white col-md-12 col-xs-12">
                        <h3 class="section-title">Thông tin</h3>
                        <div class="row" style="margin-top: 30px;">
                            <div class="col-sm-6">
                                <p><strong>Tên đăng nhập:</strong><br>
                                <span class="text-gray-1">{{ customer.account.username }}</span></p>
                            </div>

                            <div class="col-sm-6">
                                <p><strong>Email:</strong><br>
                                <span class="text-gray-1">{{ customer.account.email }}</span></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <p><strong>Số điện thoại:</strong><br>
                                <span class="text-gray-1">{{ customer.phone }}</span></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div> -->
      </div>
    </div>

    <!--include footer-->
    <div data-th-insert="~{include/footer.html}"></div>
    <script
      data-cfasync="false"
      src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
    ></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script>
      window.jQuery ||
        document.write(
          '<script src="../../assets/js/vendor/jquery.min.js"><\/script>'
        );
    </script>
    <script src="../js/bootstrap.min.js"></script>
    <!--kimi basic js-->
    <script src="../js/kimi.js"></script>
    <script src="../js/user/profile.js"></script>
  </body>
</html>
