<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" ng-app="bannoithatonline">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://s3-ap-southeast-1.amazonaws.com/kimistatic/images/favicon.ico" />
    <link rel="apple-touch-icon"
        href="https://s3-ap-southeast-1.amazonaws.com/kimistatic/images/apple-touch-icon.png" />
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css" />
    <title>Profile</title>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.min.css">
    <!--+++++++++++++ CSS THEME ++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <link rel="stylesheet" href="taiNguyenCuaDung/css/theme1.css" />

    <link rel="stylesheet" href="taiNguyenCuaDung/css/theme2.css" />

    <link rel="stylesheet" href="taiNguyenCuaDung/css/theme3.css" />

    <link rel="stylesheet" href="/taiNguyenCuaThang/css/chat.css" />

    <link rel="stylesheet" href="../taiNguyenCuaDung/css/themes.scss.css" />
    <!--+++++++++++++ JS THEME ++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <script type="text/javascript" src="/taiNguyenCuaDung/js/jquery.min.js"></script>
    <script type="text/javascript" src="/taiNguyenCuaDung/js/theme.js"></script>

    <link rel="stylesheet" href="../taiNguyenCuaBao/css/profile.css" />
</head>
<div data-th-insert="~{include/navbar.html}"></div>

<body ng-controller="ProfileController">
    <main class="wrapperMain_content">
        <div class="layout-account">
            <div class="container">
                <div class="wrapbox-content-account">
                    <div class="header-page clearfix">
                        <h1>Tài khoản của bạn</h1>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-12 col-12 sidebar-account">
                            <div class="AccountSidebar">
                                <h3 class="AccountTitle titleSidebar">Tài khoản</h3>
                                <div class="AccountContent">
                                    <div class="AccountList">
                                        <ul class="list-unstyled">
                                            <li class="current">
                                                <a href="/user/profile">Thông tin tài khoản</a>
                                            </li>
                                            <li>
                                                <a href="/user/profile/pageaddress">Danh sách địa chỉ</a>
                                            </li>
                                            <li class="last">
                                                <a href="/logout">Đăng xuất</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form ng-submit="updateProfile()" id="formAccount">
                            <div class="col-lg-9 col-md-12 col-12">
                                <div class="row wrap_content_account">
                                    <div class="col-lg-8 col-md-12 col-12 wrap_inforAccount" id="customer_sidebar">
                                        <p class="title-detail">Thông tin tài khoản</p>
                                        <p>
                                            <strong>Tên đăng nhập:</strong>
                                            <input type="text" class="form-control" placeholder="Tên đăng nhập"
                                                value="{{customer.account.username}}" autocomplete="none" disabled />
                                        </p>
                                        <p>
                                            <strong>Họ và tên:</strong>
                                            <input type="text" class="form-control" placeholder="Họ tên" name="name"
                                                id="name" value="{{customer.name}}" autocomplete="none" />
                                            <small id="nameError" class="text-danger"></small>
                                        </p>
                                        <p>
                                            <strong>Email:</strong><input type="text" class="form-control"
                                                placeholder="Email" name="email" id="email"
                                                value="{{customer.account.email}}" autocomplete="none" />
                                            <small id="emailError" class="text-danger"></small>
                                        </p>
                                        <p>
                                            <strong>Số điện thoại:</strong><input type="text" class="form-control"
                                                placeholder="Số điện thoại" name="phone" id="phone"
                                                value="{{customer.phone}}" autocomplete="none" />
                                            <small id="phoneError" class="text-danger"></small>
                                        </p>
                                        <div class="address">
                                            <a id="view_address" href="/user/profile/pageaddress">Xem địa chỉ</a>
                                        </div>
                                        <button type="submit" class="button">Lưu</button>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-12 wrap_inforAccount">
                                        <div class="container">
                                            <div class="row justify-content-center">
                                                <div class="XWsmVn col-12 d-flex  justify-content-center mb-2">
                                                    <div class="img" id="imageContainer"
                                                        style="background-image: url('../../../images/avatar/{{customer.image!=null?customer.image:'default-avatar.jpg'}}')">
                                                    </div>
                                                </div>
                                                <input type="file" accept=".jpg,.jpeg,.png" name="avatar" id="image" />
                                                <small id="imageError" class="text-danger"></small>
                                                <div class="L4SAGB col-12 mb-2">
                                                    <div class="SlaeTm text-center text-muted">Dung lượng file
                                                        tối đa 1 MB</div>
                                                    <div class="SlaeTm  text-center text-muted">Định dạng:
                                                        .JPEG, .PNGm .JPG</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div>
        <div class="row">
            <!-- <div class="row">
            <div class="col-md-8">

                <div class="row">
                    <div class="box-bg-white col-md-12 col-xs-12">
                        <h3 class="section-title">Hồ sơ của tôi</h3>
                        <p class="">Quản lý thông tin hồ sơ để bảo mật tài khoản</p>
                    </div>
                </div>

                <div class="row">
                    <div class="box-bg-white col-md-12 col-xs-12">
                        <h3 class="section-title">Thông tin</h3>
                        <div class="row" style="margin-top: 30px;">
                            <div class="col-sm-6">
                                <p><strong>Tên đăng nhập:</strong><br>
                                <span class="text-gray-1">{{ customer.account.username }}</span></p>
                            </div>

                            <div class="col-sm-6">
                                <p><strong>Email:</strong><br>
                                <span class="text-gray-1">{{ customer.account.email }}</span></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <p><strong>Số điện thoại:</strong><br>
                                <span class="text-gray-1">{{ customer.phone }}</span></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div> -->
        </div>
    </div>

    <!--include footer-->
    <div data-th-insert="~{include/footer.html}"></div>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script>
        window.jQuery ||
            document.write(
                '<script src="../../assets/js/vendor/jquery.min.js"><\/script>'
            );
    </script>
    <script src="../js/bootstrap.min.js"></script>
    <!--kimi basic js-->
    <script src="../js/kimi.js"></script>
    <script src="../js/user/editprofile.js"></script>
</body>

</html>