<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" ng-app="bannoithatonline">

<head>
    <title>Register</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/kimi.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="/taiNguyenCuaThang/css/forgotpassword.css">

    <![endif]-->

    <!--+++++++++++++ CSS THEME ++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	<link rel="stylesheet" href="/taiNguyenCuaDung/css/index.css">
	<link rel="stylesheet" href="/taiNguyenCuaDung/css/indexcolor.css">
	<link rel="stylesheet" href="/taiNguyenCuaDung/css/theme1.css">
	<link rel="stylesheet" href="/taiNguyenCuaDung/css/theme2.css">
	<link rel="stylesheet" href="/taiNguyenCuaDung/css/theme3.css">

	<!--+++++++++++++ JS THEME ++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
	<script type="text/javascript" src="/taiNguyenCuaDung/js/jquery.min.js"></script>
	<script type="text/javascript" src="/taiNguyenCuaDung/js/theme.js"></script>

	<meta http-equiv="origin-trial"
		content="Az520Inasey3TAyqLyojQa8MnmCALSEU29yQFW8dePZ7xQTvSt73pHazLFTK5f7SyLUJSo2uKLesEtEa9aUYcgMAAACPeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZS5jb206NDQzIiwiZmVhdHVyZSI6IkRpc2FibGVUaGlyZFBhcnR5U3RvcmFnZVBhcnRpdGlvbmluZyIsImV4cGlyeSI6MTcyNTQwNzk5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<meta name="revisit-after" content="1 day">
	<meta name="HandheldFriendly" content="true">

	<meta name="google-site-verification" content="mHatT3Z1rAVgHFQvMAiWWja2irFLxApxy0odN9PPts8">
	<title>
		Baya - Siêu thị nội thất &amp; trang trí Baya
	</title>
	<link rel="canonical" href="https://baya.vn/">
	<link rel="alternate" href="https://baya.vn/" hreflang="vi-vn">
	<meta name="keywords" content="Baya">

	<meta name="robots" content="index,follow,noodp">

	<meta http-equiv="x-dns-prefetch-control" content="on">
	<link rel="dns-prefetch" href="https://baya.vn">
	<link rel="dns-prefetch" href="//hstatic.net">
	<link rel="dns-prefetch" href="//theme.hstatic.net/">
	<link rel="dns-prefetch" href="//product.hstatic.net/">
	<link rel="dns-prefetch" href="//file.hstatic.net/">
	<link rel="dns-prefetch" href="//www.google-analytics.com/">
	<link rel="dns-prefetch" href="//www.googletagmanager.com/">
	<link rel="dns-prefetch" href="//www.google.com">
	<link rel="dns-prefetch" href="//fonts.gstatic.com">
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="dns-prefetch" href="//www.facebook.com">
	<link rel="dns-prefetch" href="//connect.facebook.net">
	<link rel="dns-prefetch" href="//static.ak.facebook.com">
	<link rel="dns-prefetch" href="//static.ak.fbcdn.net">
	<link rel="dns-prefetch" href="//s-static.ak.facebook.com">


	<link rel="preconnect" href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700&amp;display=swap"
		crossorigin="">
	<link rel="preload stylesheet" href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700&amp;display=swap"
		as="style">
	<link rel="preload" href="//theme.hstatic.net/200000796751/1001150659/14/fontawesome-webfont.woff?v=788" as="font"
		type="font/woff2" crossorigin="anonymous">
	<link rel="preload" href="//theme.hstatic.net/200000796751/1001150659/14/fontawesome-webfont.woff2?v=788" as="font"
		type="font/woff2" crossorigin="anonymous">

	<link rel="preload stylesheet" href="//theme.hstatic.net/200000796751/1001150659/14/style-themes.scss.css?v=788"
		as="style">

	<meta property="og:type" content="website">
	<meta property="og:title" name="description" content="">
	<meta property="og:image" content="http://theme.hstatic.net/200000796751/1001150659/14/share_fb_home.png?v=788">
	<meta property="og:image:secure_url"
		content="https://theme.hstatic.net/200000796751/1001150659/14/share_fb_home.png?v=788">
	<meta property="og:description" name="description" content="">
	<meta property="og:url" content="https://baya.vn/">
	<meta property="og:site_name" content="Baya">

	<!-- SEO META DESCRIPTION -->
	<meta name="description" content="Baya - Siêu thị nội thất &amp; trang trí Baya">
	<!-- END SEO META DESCRIPTION -->
	<style>
		.grecaptcha-badge {
			visibility: hidden;
		}
	</style>
</head>

<body>

    <div data-th-insert="~{./include/navbar.html}"></div>
    
    <div class="container" ng-controller="forgotPassWordController" style="overflow: hidden;">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="login-form" th:action="@{/user/resetpassword}" method="post" role="form" style="display: block;">
                                    <h2 style="text-align: center;">Đăng ký lại mật khẩu</h2>
    
                                    <div class="col-xs-6 form-group">
                                        <a th:href="@{/oauth2/authorization/facebook}" class="form-control" tabindex="4" id="login-submit"><i
                                                class="bi bi-facebook"></i> <span>Facebook</span></a>
                                    </div>

                                    <div class="col-xs-6 form-group">
                                        <a th:href="@{/oauth2/authorization/google}" class="form-control" tabindex="4" id="login-submit">
                                            <i class="bi bi-google"></i> <span>Google</span></a>
                                    </div>
    
                                    <div class="form-group">
                                        <input type="password" name="password" id="username" tabindex="1" class="form-control"
                                            placeholder="Nhập mật khẩu">
                                    </div>

                                    <div class="form-group">
                                        <input type="password" name="confirmpassword" id="username" tabindex="1" class="form-control"
                                            placeholder="Xác nhận lại mật khẩu">
                                    </div>

                                    <div class="form-group">
                                        <input type="text" name="resetTokenInput" id="username" tabindex="1" class="form-control"
                                            placeholder="Nhập mã xác thực">
                                    </div>

                                    <p class="text-danger" style="text-align: center;" th:text="${message}"></p>

                                    <div class="col-xs-12 form-group pull-right">
                                        <input type="submit" name="login-submit" id="login-submit" tabindex="4"
                                            class="form-control btn btn-login" value="Gửi">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="panel-heading" th:if="${message eq 'Đổi mật khẩu thành công'}">
                        <div class="row">
                            <div class="col-xs-12 tabs">
                                <a th:href="@{/login}" class="text-secondary">
                                    <div class="register">Đăng nhập</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container -->

    <!-- <footer style="margin-top: 80px; background-color: rgb(247, 246, 246);">
    </footer> -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../js/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../js/bootstrap.min.js"></script>

<!--kimi basic js-->
<script src="../js/kimi.js"></script>
<script src="../js/user/account.js"></script>


<script src="../taiNguyenCuaThang/js/navbargiohang.js"></script>
	<!-- SCRIPT THEME -->
	<script type="text/javascript" src="../taiNguyenCuaDung/js/scripts.js" defer=""></script>
</body>
</html>