<!DOCTYPE html>
<html>
<head>
    <title>Employee Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
    <div id="chat">
        <input type="text" id="message" placeholder="Type your message here...">
        <button onclick="sendMessage()">Send</button>
    </div>
    <script>
        var socket = new SockJS('/chatRealtime');
        var stompClient = Stomp.over(socket);
        stompClient.connect({}, function(frame) {
            stompClient.subscribe('/topic/messages', function(messageOutput) {
                // Xử lý tin nhắn tại đây
            });
        });
        function sendMessage() {
            var message = document.getElementById('message').value;
            stompClient.send("/app/employee/message", {}, message);
        }
    </script>
</body>
</html>
