<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <div data-th-insert="~{include/style.html}"></div>

    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="css/kimi.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">


    <![endif]-->
</head>

<body>

    <div data-th-insert="~{include/navbar.html}"></div>

<div class="container">

    <div class="kimi-container">
        <!--breadcrumb start-->
        <ol class="breadcrumb hidden-xs">
            <li><a th:href="@{/index}">Trang chủ</a></li>
            <li class="active">Đăng nhập</li>
        </ol>

        <div class="clearfix"></div>


        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="row">
                    <div class="box-bg-white col-md-12 col-xs-12 form-medium-padding">
                        <h3 class="text-center text-gray-1">Đăng nhập với tài khoản</h3>
                        <div class="clearfix maya-tiny-padding"></div>

                        <div class="row">
                            <div class="col-md-12">
                                <a th:href="@{/oauth2/authorization/google}">
                                    <button class="button-connect-google btn-block">Đăng nhập với Google <i class="fa fa-google" aria-hidden="true"></i></button>
                                </a>
                            </div>
                        </div>

                        <div class="clearfix maya-tiny-padding"></div>

                        <div class="row">
                            <div class="col-md-12">
                                <a th:href="@{/oauth2/authorization/facebook}">
                                    <button class="button-connect-facebook btn-block">Đăng nhập với Facebook <i class="fa fa-facebook" aria-hidden="true"></i></button>
                                </a>
                            </div>
                        </div>
                        <div class="clearfix maya-small-padding"></div>

                        <form th:action="@{/login}" method="post" onsubmit="return validateForm()">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Tên đăng nhập" name="username">
                                <span id="username-error" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Mật khẩu" name="password">
                                <span id="password-error" class="text-danger"></span>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> <span class="text-gray-2 helvetica-12">Ghi nhớ đăng nhập</span>
                                </label>
                            </div>
                        
                            <div th:if="${param.error}" class="alert alert-danger" role="alert">
                                Tên đăng nhập hoặc mật khẩu sai.
                            </div>
                        
                            <button type="submit" class="btn btn-block button-green-free btn-lg">Đăng nhập</button>
                        </form>

                        <div class="clearfix maya-tiny-padding"></div>
                        <p class="text-center">Chưa có tài khoản? <a th:href="@{/user/register}" class="text-secondary">Đăng ký</a></p>

                        <div class="clearfix maya-tiny-padding"></div>
                        <p class="text-center"><a th:href="@{/user/forgotpassword}" class="text-secondary">Quên mật khẩu?</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div><!-- /.container -->

<!--include footer-->
<div class="include-footer"></div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./js/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="./js/bootstrap.min.js"></script>

<!--kimi basic js-->
<script src="js/kimi.js"></script>

<script>
    function validateForm() {
        var username = document.getElementsByName('username')[0].value;
        var password = document.getElementsByName('password')[0].value;
        var usernameError = document.getElementById('username-error');
        var passwordError = document.getElementById('password-error');

        // Reset errors
        usernameError.innerHTML = '';
        passwordError.innerHTML = '';

        // Validate username
        if (username.trim() === '') {
            usernameError.innerHTML = 'Vui lòng nhập tên đăng nhập.';
            return false;
        }

        // Validate password
        if (password.trim() === '') {
            passwordError.innerHTML = 'Vui lòng nhập mật khẩu.';
            return false;
        }

        // Continue with form submission if no errors
        return true;
    }
</script>

</body>
</html>