<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div data-th-insert="~{include/style.html}"></div>
</head>

<body>

    <div data-th-insert="~{include/navbar.html}"></div>

    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="css/kimi.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!--tipue search-->
    <link rel="stylesheet" href="css/tipuesearch/tipuesearch.css">

    


    <![endif]-->

<div class="container">

    <div class="kimi-container">
        <!--breadcrumb start-->
        <ol class="breadcrumb hidden-xs">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Search Result</a></li>
        </ol>

        <div class="row">
            <div class="col-md-12">
                <form action="search.html">
                    <input type="text" name="q" id="tipue_search_input" class="searchbox-search-result" placeholder="search anything. Try Kimi">
                </form>
                <div id="tipue_search_content"></div>
            </div>
        </div>

    </div>

</div><!-- /.container -->

<!--include footer-->
<div class="include-footer"></div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./js/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="./js/bootstrap.min.js"></script>


<!--tipuesearch-->
<script src="js/tipusearch/tipuesearch_content.js"></script>
<script src="js/tipusearch/tipuesearch_set.js"></script>
<script src="js/tipusearch/tipuesearch.js"></script>

<!--kimi basic js-->
<script src="js/kimi.js"></script>


</body>
</html>