<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>

<body>
    <script th:inline="javascript">
        /*<![CDATA[*/
            var customerName = /*[[${session.customerName}]]*/ null;
            var isAdmin = /*[[${session.isAdmin}]]*/ false; // Giả sử mặc định là false nếu không có giá trị trong session
        /*]]>*/
    </script>
    
    <div id="userChat">
        <input type="text" id="userMessageInput" placeholder="Type your message here...">
        <button onclick="sendUserMessage()">Send</button>
    </div>
    <ul id="userMessageArea"></ul>
    
    <script>
        var socket = new SockJS('/chatRealtime');
        var stompClient = Stomp.over(socket);
        stompClient.connect({}, function(frame) {
            stompClient.subscribe('/topic/messages', function(messageOutput) {
                var messageData = JSON.parse(messageOutput.body);
                var message = messageData.message;
                var sender = messageData.sender;
                var messageArea = document.getElementById('userMessageArea');
                if (messageArea) {
                    var messageElement = document.createElement('li');
                    messageElement.textContent = sender + ': ' + message;
                    messageArea.appendChild(messageElement);
                }
            });
        });
    
        function sendUserMessage() {
            var messageInput = document.getElementById('userMessageInput');
            if (messageInput && stompClient && stompClient.connected) {
                var message = messageInput.value;
                stompClient.send("/app/user/message", {}, JSON.stringify({ sender: ''+ customerName, message: message }));
            }
        }
    </script>
    

</body>

</html>